/* fix shift on content views list under ie6 */
*html ul#content-views{
    margin: -2px -3px 0px -3px;
}

/* removes extra space above logo */
#portal-logo {
    margin-top: 0;
}

/* ensures hidden elements don't take up space */
.hiddenStructure {
    position: absolute;
}

/* IE8: keeps livesearch from falling behind content area,
   and display menu from falling behind footer
   Keeping float for IE7, so the portlets don't fall */
div.cell {
    float: none;
    *float: left;
}

/* IE8: prevent ghost top-margin in folder summary listing */
h2.tileHeadline {
    display: block;
    *display: inline;
}

/* IE7: fixes super-wide div for JavaScript Tag selector */
div.optionsBox {
    !width: 50%;
}
.optionsBox input {
    !margin: 0px;
}
/* IE7: Display menu falls under footer (see Events page) (IE7) #10872 */
#portal-columns {
    z-index: 1;
}
/* IE7: Live search appears under content action menu (IE7/IE8) #10872 */
#portal-top {
    z-index: 2;
}
/* IE7: set z-indexes on content menus for narrow browsers #10872 */
#contentActionMenus #plone-contentmenu-workflow {
    z-index: 6;
}