/* @group Visual editor */

.kupu-save-message {
color: white;
font-weight: bold;
background-color: red;
padding: 0.3em;
position: fixed;
top: 0;
right: 0;
z-index: 999;
}

#toolbar {
    background-color: White;
    width: auto;
    border: none;
}
#toolbar button {
	border-color: White;
}
#kupu-editor-iframe-text {
	border: 1px solid Black;
}
#kupu-colorchooser {
	display: none;
}


/* @end */
