/* For devices with narrow screens, phones, tablets, etc. */
	
#portal-column-one, 
#portal-column-two,
#portal-column-content { 
	clear: both; 
	width: 97.75%; 
	margin-left: -98.875%; 
}

#portal-logo {
	display: none;
}
#portal-top {
	font-size: 180%;
}
#portal-personaltools {
	margin-bottom: 1em;
}
#portal-globalnav li a {
	min-width: 3em !important;
	padding:0.5em 1.5em 1em 0.5em;
}
#portal-searchbox {
	float: none !important;
	margin: 1em 0;
	text-align: center;
}
#portal-searchbox input {
	font-size: 100% !important;
}
#content-views a {
	font-size: 150%;
	line-height: 2em !important;
	padding: 0.5em;
}
#content li.formTab a {
	font-size: 140%;
	line-height: 2em !important;
	padding: 0.25em;
}
#edit-bar {
	min-height: 5em;
}

#contentActionMenus a {
	width: 100%;
	line-height: 2em !important;
	font-size: 150%;
}


input, textarea {
	font-size: 140% !important;
}
div.managePortletsLink,
a.managePortletsFallback {
	font-size: 140%;
}
div.overlay {
	font-size: 120%;
}
div.overlay-iframe,
div.overlay-ajax {
	width: 90%;
}
