[buildout]
extensions =
    mr.developer

extends =
    plipbase.cfg

auto-checkout +=
    Products.CMFCore
    Products.GenericSetup
    Products.PluggableAuthService
    Products.PluginRegistry
    Products.CMFUid

#test-eggs +=


# All master branches have been updated to use CMF 2.2 
[sources]
Products.CMFCore = git ${remotes:plone}/Products.CMFCore.git pushurl=${remotes:plone_push}/Products.CMFCore.git branch=master
Products.GenericSetup = git ${remotes:plone}/Products.GenericSetup.git pushurl=${remotes:plone_push}/Products.GenericSetup.git branch=master
Products.PluggableAuthService = git ${remotes:plone}/Products.PluggableAuthService.git pushurl=${remotes:plone_push}/Products.PluggableAuthService.git branch=master
Products.PluginRegistry = git ${remotes:plone}/Products.PluginRegistry.git pushurl=${remotes:plone_push}/Products.PluginRegistry.git branch=master
Products.CMFUid = git ${remotes:plone}/Products.CMFUid.git pushurl=${remotes:plone_push}/Products.CMFUid.git branch=master
