[buildout]
extensions =
    mr.developer

extends =
    plipbase.cfg

auto-checkout +=
    Products.CMFCore
    Products.Archetypes
    Products.CMFPlone
# test fixes only
    plone.app.content
    plone.app.upgrade
    plone.app.multilingual
    Products.CMFEditions
    Products.ATContentTypes
    Products.CMFUid
    plone.app.blob

test-eggs +=
    Products.CMFUid

[sources]
Products.CMFCore         = git ${remotes:plone}/Products.CMFCore.git pushurl=${remotes:plone_push}/Products.CMFCore.git branch=merge-collective-indexing
Products.Archetypes      = git ${remotes:plone}/Products.Archetypes.git pushurl=${remotes:plone_push}/Products.Archetypes.git branch=merge-collective-indexing
Products.CMFPlone        = git ${remotes:plone}/Products.CMFPlone.git pushurl=${remotes:plone_push}/Products.CMFPlone.git branch=merge-collective-indexing
plone.app.content        = git ${remotes:plone}/plone.app.content.git pushurl=${remotes:plone_push}/plone.app.content.git branch=merge-collective-indexing
plone.app.upgrade        = git ${remotes:plone}/plone.app.upgrade.git pushurl=${remotes:plone_push}/plone.app.upgrade.git branch=merge-collective-indexing
plone.app.multilingual   = git ${remotes:plone}/plone.app.multilingual.git pushurl=${remotes:plone_push}/plone.app.multilingual.git branch=merge-collective-indexing
Products.CMFEditions     = git ${remotes:plone}/Products.CMFEditions.git pushurl=${remotes:plone_push}/Products.CMFEditions.git branch=merge-collective-indexing
Products.ATContentTypes  = git ${remotes:plone}/Products.ATContentTypes.git pushurl=${remotes:plone_push}/Products.ATContentTypes.git branch=merge-collective-indexing
Products.CMFUid          = git ${remotes:plone}/Products.CMFUid.git pushurl=${remotes:plone_push}/Products.CMFUid.git branch=merge-collective-indexing
plone.app.blob           = git ${remotes:plone}/plone.app.blob.git pushurl=${remotes:plone_push}/plone.app.blob.git branch=merge-collective-indexing
