[buildout]
# See https://github.com/plone/Products.CMFPlone/issues/3958
# We do not call this a PLIP, but it involves several packages, so a plip file helps.
extends = plipbase.cfg
auto-checkout +=
    plone.app.contenttypes
    plone.app.dexterity
    plone.app.discussion

[sources]
plone.app.contenttypes              = git ${remotes:plone}/plone.app.contenttypes.git pushurl=${remotes:plone_push}/plone.app.contenttypes.git branch=pa-discussion-core-addon
plone.app.dexterity                 = git ${remotes:plone}/plone.app.dexterity.git pushurl=${remotes:plone_push}/plone.app.dexterity.git branch=pa-discussion-coreaddon
plone.app.discussion                = git ${remotes:plone}/plone.app.discussion.git pushurl=${remotes:plone_push}/plone.app.discussion.git branch=core-addon
plone.app.upgrade                   = git ${remotes:plone}/plone.app.upgrade.git pushurl=${remotes:plone_push}/plone.app.upgrade.git branch=pa-discussion-coreaddon
Products.CMFPlone                   = git ${remotes:plone}/Products.CMFPlone.git pushurl=${remotes:plone_push}/Products.CMFPlone.git branch=pa-discussion-core-addon


# To test alone without plone.app.discussion it is easiest to use
# bin/instance-cmfplone, but with plone.app.caching and plone.app.upgrade as extras.
[instance-cmfplone]
eggs +=
    plone.app.caching
    plone.app.upgrade
