# https://github.com/plone/Products.CMFPlone/issues/388
# PloneTestCase removal. This does not need a PLIP.

[buildout]
extends = plipbase.cfg

auto-checkout +=

[sources]
Products.PloneLanguageTool = git git://github.com/plone/Products.PloneLanguageTool.git pushurl=git@github.com:plone/Products.PloneLanguageTool.git branch= tomgross-ptc
