# https://github.com/plone/mockup/pull/485
# Rename pat modal. This does not need a PLIP.

[buildout]
extends = plipbase.cfg

auto-checkout +=
    Products.CMFPlone
    mockup
    plone.app.contentmenu
    plone.app.contentrules
    plone.app.dexterity
    plone.app.layout
    plone.app.portlets
    plone.app.theming
    plone.schemaeditor
    plonetheme.barceloneta


[sources]
Products.CMFPlone      = git git://github.com/plone/Products.CMFPlone.git pushurl=git@github.com:plone/Products.CMFPlone.git branch=pat-modal-rename
mockup                 = git git://github.com/plone/mockup.git pushurl=git@github.com:plone/mockup.git branch=pat-modal-rename
plone.app.contentmenu  = git git://github.com/plone/plone.app.contentmenu.git pushurl=git@github.com:plone/plone.app.contentmenu.git branch=pat-modal-rename
plone.app.contentrules = git git://github.com/plone/plone.app.contentrules.git pushurl=git@github.com:plone/plone.app.contentrules.git branch=pat-modal-rename
plone.app.dexterity    = git git://github.com/plone/plone.app.dexterity.git pushurl=git@github.com:plone/plone.app.dexterity.git branch=pat-modal-rename
plone.app.layout       = git git://github.com/plone/plone.app.layout.git pushurl=git@github.com:plone/plone.app.layout.git branch=pat-modal-rename
plone.app.portlets     = git git://github.com/plone/plone.app.portlets.git pushurl=git@github.com:plone/plone.app.portlets.git branch=pat-modal-rename
plone.app.theming      = git git://github.com/plone/plone.app.theming.git pushurl=git@github.com:plone/plone.app.theming.git branch=pat-modal-rename
plone.schemaeditor     = git git://github.com/plone/plone.schemaeditor.git pushurl=git@github.com:plone/plone.schemaeditor.git branch=pat-modal-rename
plonetheme.barceloneta = git git://github.com/plone/plonetheme.barceloneta.git pushurl=git@github.com:plone/plonetheme.barceloneta.git branch=pat-modal-rename
