# NO PLIP YET
# replace Plone login flow with a more rational process

[buildout]
extends = plipbase.cfg
auto-checkout +=
    plone.login
    plone.schema


[instance]
eggs +=
    plone.login
    Plone
    Products.PrintingMailHost

[test]
eggs +=
    plone.login

[sources]
plone.login = git ${remotes:plone}/plone.login.git pushurl=${remotes:plone_push}/plone.login.git
plone.schema = git ${remotes:plone}/plone.schema.git pushurl=${remotes:plone_push}/plone.schema.git
