# 

[buildout]
extends = plipbase.cfg
auto-checkout +=
    Products.CMFPlone
    Mockup
    plone.app.querystring
    plone.app.contenttypes
    plone.app.upgrade

[sources]
Mockup = git ${remotes:plone}/Mockup.git pushurl=${remotes:plone_push}/Mockup.git branch=mrtango-subject-all-operator
Products.CMFPlone = git ${remotes:plone}/Products.CMFPlone.git pushurl=${remotes:plone_push}/Products.CMFPlone.git branch=mrtango-subject-all-operator
plone.app.querystring = git ${remotes:plone}/plone.app.querystring.git pushurl=${remotes:plone_push}/plone.app.querystring.git branch=mrtango-subject-all-operator
plone.app.contenttypes = git ${remotes:plone}/plone.app.contenttypes.git pushurl=${remotes:plone_push}/plone.app.contenttypes.git branch=mrtango-subject-all-operator
plone.app.upgrade = git ${remotes:plone}/plone.app.upgrade.git pushurl=${remotes:plone_push}/plone.app.upgrade.git branch=mrtango-subject-all-operator

