# NO PLIP YET
# replace Plone login flow with a more rational process

[buildout]
extends = plipbase.cfg
auto-checkout +=
    plone.login


[instance]
eggs += 
    plone.login
    Plone

[test]
eggs += 
    plone.login

[sources]
plone.login = git ${remotes:plone}/plone.login.git pushurl=${remotes:plone_push}/plone.login.git

