# Mosaic Sprint buildout configuration
# This is intented to be a possible add-on for plone but close to core

[buildout]

extensions =
    mr.developer

extends =
    plipbase.cfg
    ../mockup.cfg

auto-checkout +=
    plone.app.mosaic
    plone.app.standardtiles
    plone.app.tiles
    plone.tiles
    plone.app.blocks
    plone.app.mediarepository

[instance]
eggs +=
    plone.app.mosaic
    plone.app.standardtiles
    plone.app.tiles
    plone.tiles
    plone.app.blocks

[sources]
plone.app.mosaic = git ${remotes:plone}/plone.app.mosaic.git pushurl=${remotes:plone_push}/plone.app.mosaic.git
plone.app.standardtiles = git ${remotes:plone}/plone.app.standardtiles.git pushurl=${remotes:plone_push}/plone.app.standardtiles.git
plone.app.tiles =  git ${remotes:plone}/plone.app.tiles.git pushurl=${remotes:plone_push}/plone.app.tiles.git
plone.tiles =  git ${remotes:plone}/plone.tiles.git pushurl=${remotes:plone_push}/plone.tiles.git
plone.app.blocks =  git ${remotes:plone}/plone.app.blocks.git pushurl=${remotes:plone_push}/plone.app.blocks.git
plone.app.mediarepository = git ${remotes:plone}/plone.app.mediarepository.git pushurl=${remotes:plone_push}/plone.app.mediarepository.git



