# Point to the relevant directories one level up. Otherwise, we get a new set of each here in the plips folder.

[buildout]
extends = ../buildout.cfg
eggs-directory = ../eggs
develop-eggs-directory = ../develop-eggs
bin-directory = ../bin
parts-directory = ../parts
sources-dir = ../src

[instance]
var = ${buildout:directory}/../var
