# - https://github.com/plone/Products.CMFPlone/issues/482
# - https://github.com/plone/Products.CMFPlone/issues/529
# - mockup, https://gomockingbird.com/projects/qh6s0uy/4gXVnC --probably won't implement
#   until 5.1

#
# Current toolbar order
#
# - Contents
# - View
# - Edit
# - Sharing
# - Workflow
# - Add new
#   - *
# - More options
#   - Portlets
#       - *
#   - Display
#       - *
#   - Actions
#       - *
# - History
# - User
#   - *
#

[buildout]
extends = plipbase.cfg
auto-checkout +=
    Products.CMFPlone
    plone.app.layout
    plone.app.content
    plone.app.contentmenu

[sources]
plone.app.layout = git ${remotes:plone}/plone.app.layout.git pushurl=${remotes:plone_push}/plone.app.layout.git branch=toolbar-fixup
plone.app.content = git ${remotes:plone}/plone.app.content.git pushurl=${remotes:plone_push}/plone.app.content.git branch=toolbar-fixup
plone.app.contentmenu = git ${remotes:plone}/plone.app.contentmenu.git pushurl=${remotes:plone_push}/plone.app.contentmenu.git branch=toolbar-fixup
Products.CMFPlone = git ${remotes:plone}/Products.CMFPlone.git pushurl=${remotes:plone_push}/Products.CMFPlone.git branch=toolbar-fixup

