[buildout]
# See https://github.com/plone/Products.CMFPlone/issues/3953
extends = plipbase.cfg
auto-checkout +=
# Temporarily add jbot to check the overrides.
    z3c.jbot
    plone.app.layout

[instance]
# Temporarily add jbot to check the overrides.
eggs += z3c.jbot

[conf]
# Suggestion: use template-move as branch name for all sources.
branch_name = template-move

[sources]
# Sort alphabetically please
# plone.app.layout                   = git ${remotes:plone}/plone.app.layout.git pushurl=${remotes:plone_push}/plone.app.iterate.git branch=${conf:branch_name}
z3c.jbot                           = git ${remotes:zope}/z3c.jbot.git pushurl=${remotes:zope_push}/z3c.jbot.git branch=master
