# Point to the relevant directories one level up. Otherwise, we get a new set of each here in the plips folder.

[buildout]
extends = 
    ../core.cfg
    ../versions-jenkins.cfg
develop-eggs-directory = ../develop-eggs
bin-directory = ../bin
parts-directory = ../parts
sources-dir = ../src
installed = ../.installed.cfg
eggs += Plone
parts += 
    jenkins-test
    jenkins-alltests
    jenkins-alltests-at

[instance]
var = ${buildout:directory}/../var

[jenkins-test]
recipe = collective.xmltestreport
eggs = ${buildout:test-eggs}
script = jenkins-test
environment = jenkins-test-env
defaults = ['--auto-color', '--auto-progress', '--xml', '--ignore_dir=bower_components', '--ignore_dir=node_modules']

[jenkins-alltests]
<= alltests-base
recipe = plone.recipe.alltests
test-script = ${buildout:bin-directory}/jenkins-test

[jenkins-test-env]
zope_i18n_compile_mo_files = true
BUILDOUT_DIR = ${buildout:directory}
ROBOTSUITE_APPEND_OUTPUT_XML = 1
ROBOTSUITE_LOGLEVEL = ERROR

[jenkins-alltests-at]
<= alltests-at-base
recipe = plone.recipe.alltests
test-script = ${buildout:bin-directory}/jenkins-test

