# https://github.com/plone/Products.CMFPlone/issues/388
# CMFDefault removal. This does not need a PLIP.

[buildout]
extends = plipbase.cfg

auto-checkout +=
    Products.ATContentTypes
    Products.Archetypes
    Products.PortalTransforms
    plone.app.content
    plone.app.contenttypes
    plone.app.controlpanel
    plone.app.users
    plone.theme

[sources]
Products.ATContentTypes             = git ${remotes:plone}/Products.ATContentTypes.git pushurl=${remotes:plone_push}/Products.ATContentTypes.git branch=master
Products.Archetypes                 = git ${remotes:plone}/Products.Archetypes.git pushurl=${remotes:plone_push}/Products.Archetypes.git branch=master
plone.app.content                   = git ${remotes:plone}/plone.app.content.git pushurl=${remotes:plone_push}/plone.app.content.git branch=tomgross-nocmfdefault
plone.app.contenttypes              = git ${remotes:plone}/plone.app.content.git pushurl=${remotes:plone_push}/plone.app.contenttypes.git branch=tomgross-nocmfdefault
plone.app.controlpanel              = git ${remotes:plone}/plone.app.controlpanel.git pushurl=${remotes:plone_push}/plone.app.controlpanel.git branch=tomgross-nocmfdefault
plone.app.users                     = git ${remotes:plone}/plone.app.users.git pushurl=${remotes:plone_push}/plone.app.users.git branch=tomgross-nocmfdefault
plone.theme                         = git ${remotes:plone}/plone.theme.git pushurl=${remotes:plone_push}/plone.theme.git branch=tomgross-nocmfdefault
