# https://github.com/plone/Products.CMFPlone/issues/388
# PloneTestCase removal. This does not need a PLIP.

[buildout]
extends = plipbase.cfg

auto-checkout +=

[sources]
#Products.Archetypes = git git://github.com/plone/Products.Archetypes.git pushurl=git@github.com:plone/Products.Archetypes.git branch=tomgross-ptc
#Products.ATContentTypes = git git://github.com/plone/Products.ATContentTypes.git pushurl=git@github.com:plone/Products.ATContentTypes.git branch=tomgross-ptc
Products.PloneLanguageTool = git git://github.com/plone/Products.PloneLanguageTool.git pushurl=git@github.com:plone/Products.PloneLanguageTool.git branch=tomgross-ptc-2
#plone.app.blob = git git://github.com/plone/plone.app.blob.git pushurl=git@github.com:plone/plone.app.blob.git branch=tomgross-ptc
#plone.app.folder = git git://github.com/plone/plone.app.folder.git pushurl=git@github.com:plone/plone.app.blob.git branch=tomgross-noptc
plone.openid = git git://github.com/plone/plone.openid.git pushurl=git@github.com:plone/plone.openid.git branch=tomgross-removeunusedcode
#plone.outputfilters = git git://github.com/plone/plone.outputfilters.git pushurl=git@github.com:plone/plone.outputfilters.git branch=plone-app-testing
#plone.app.upgrade = git git://github.com/plone/plone.app.upgrade.git pushurl=git@github.com:plone/plone.app.upgrade.git branch=tomgross-noptc

# Products.ResourceRegistries will be gone in Plone 5
# plone.app.controlpanel will be gone in Plone 5
