# NO PLIP YET
# replace Plone login flow with a more rational process

[buildout]
extends = plipbase.cfg
auto-checkout +=
    plone.login


[instance]
eggs += 
    plone.login

[test]
eggs += 
    plone.login

[sources]
plone.login git git@github.com:plone/plone.login.git
