*.bak
*.egg-info/
.coverage*
.idea
.installed.cfg
.mr.developer.cfg
.plone.versioncheck.*
.project
.pydevproject
.Python
.python-version
.settings
.vscode
/.ropeproject/
/.tox/
/docs/build
/documentation
/etc
/experimental/develop/
/pyvenv.cfg
/release/.tox
/release/constraints2.txt
/release/constraints3*.txt
bin
coverage/
develop-eggs
downloads
eggs
Gruntfile.js
include
jenkins.plone.org.auth.cfg
lib
lib64
local
local.cfg
node_modules
package-lock.json
package.json
packages
parts
pip-selfcheck.json
report/
src
temp_resources
var
