*.bak
.coverage*
.idea
.installed.cfg
.mr.developer.cfg
.plone.versioncheck.*
.project
.pydevproject
.settings
/docs/build
bin
coverage/
develop-eggs
downloads
eggs
Gruntfile.js
include
jenkins.plone.org.auth.cfg
lib
lib64
local
local.cfg
node_modules
package.json
packages
parts
pip-selfcheck.json
report/
src
temp_resources
var
