*~
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.installed.cfg
.mr.developer.cfg
.svn/
bin
develop-eggs
include
lib
parts
packages
src
var
jenkins.plone.org.auth.cfg
*.bak
/docs/build
eggs/
