[buildout]
parts =
    zope2
    instance
    zopepy

extends =
    sources.cfg
    versions.cfg
extensions =
    mr.developer
    buildout.dumppickedversions
versions = versions

find-links = http://effbot.org/downloads

develop =
eggs =

[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
additional-fake-eggs =
url = ${versions:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    Plone
    ${buildout:eggs}
zcml =

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy
