[buildout]
extensions = buildout.eggtractor
tractor-target-parts =
    instance
    zopepy
tractor-autoload-zcml = false

versions = versions
parts =
    zope2
    instance
    zopepy

develop =
eggs =

[versions]
five.localsitemanager = 0.4
zope.component = 3.5.1
zope.i18n = 3.5
zope.interface = 3.5
zope.tal = 3.5
plone.recipe.zope2install = 2.4

[zope2]
recipe = plone.recipe.zope2install
svn = svn://svn.zope.org/repos/main/Zope/trunk
additional-fake-eggs =
    ZConfig
    pytz
skip-fake-eggs =
    zope.component
    zope.i18n
    zope.interface
    zope.tal


[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
debug-mode = on
verbose-security = on
#http-address = 127.0.0.1:8080
eggs =
    ${buildout:eggs}

environment-vars =
    zope_i18n_compile_mo_files true
    zope_i18n_allowed_languages en

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy
