[buildout]
always-checkout = force
auto-checkout =
    Products.CMFPlone
    Zope2
    collective.xmltestreport
    diazo
    plone.app.locales
    plone.app.upgrade
    plone.autoform
    plone.i18n
    plone.resourceeditor
    plone.supermodel
# Test fixes only
    Products.CMFCalendar
    Products.CMFDefault
    archetypes.schemaextender
    plone.app.customerize
    plone.app.iterate
    plone.stringinterp

