[buildout]
always-checkout = force
auto-checkout =
    Products.CMFPlone
    Plone
    plonetheme.barceloneta
    mockup
    plone.subrequest
    plone.app.locales
    plone.app.versioningbehavior
    plone.formwidget.contenttree
    plone.formwidget.datetime
# test fixes only
    plone.app.blob
    plone.app.customerize
    plone.app.dexterity
    plone.app.event
    plone.app.intid
    plone.app.iterate
    plone.app.jquerytools
    plone.app.openid
    plone.app.referenceablebehavior
    plone.app.robotframework
    plone.app.testing
    plone.app.viewletmanager
    plone.app.widgets
    plone.browserlayer
    plone.caching
    plone.formwidget.namedfile
    plone.outputfilters
    plone.rfc822
    plone.session
    plone.theme
    Products.CMFDiffTool
    collective.xmltestreport

