[buildout]
always-checkout = force
auto-checkout =
    plone.app.jquerytools
    plone.app.locales
    plone.app.registry
    Products.TinyMCE
    plone.app.iterate
    Products.CMFPlone
    Products.PasswordResetTool
    plone.app.theming
    plone.outputfilters
    plone.scale
# Test fixes only
    Products.CMFCalendar
    Products.CMFDefault
    plone.app.redirector
    plone.stringinterp
