-c https://zopefoundation.github.io/Zope/releases/6.0b1/constraints.txt
horse-with-no-namespace==20251105.1
packaging==25.0
pip==25.3
setuptools==80.9.0
wheel==0.45.1
zc.buildout==5.1.1
nt-svcutils==2.13.0
plone.versioncheck==2.0.1
Products.ZCatalog==7.3
borg.localrole==5.0.0a1
diazo==2.0.4
five.intid==3.0.2
Plone==6.1.3
plone.alterego==3.0.0a1
plone.api==3.0.0a2
plone.app.caching==5.0.0a1
plone.app.content==5.0.0a1
plone.app.contentlisting==4.0.0a1
plone.app.contentmenu==4.0.0a1
plone.app.contentrules==6.0.0a1
plone.app.contenttypes==5.0.0a1
plone.app.customerize==3.0.0a1
plone.app.dexterity==5.0.0a1
plone.app.discussion==6.0.0a1
plone.app.event==6.0.0a1
plone.app.i18n==5.0.0a1
plone.app.intid==3.0.0a1
plone.app.iterate==7.0.0a1
plone.app.layout==6.0.0a5
plone.app.linkintegrity==5.0.0a1
plone.app.locales==7.0.0a2
plone.app.lockingbehavior==3.0.0a1
plone.app.multilingual==9.0.0a2
plone.app.portlets==7.0.0a1
plone.app.querystring==3.0.0a2
plone.app.redirector==4.0.0a1
plone.app.registry==3.0.0a1
plone.app.relationfield==5.0.0a1
plone.app.robotframework==3.0.0a2
plone.app.testing==8.0.0a1
plone.app.textfield==4.0.0a1
plone.app.theming==7.0.0a3
plone.app.upgrade==3.3.1
plone.app.users==4.0.0a1
plone.app.uuid==3.0.0a1
plone.app.versioningbehavior==3.0.0a1
plone.app.viewletmanager==5.0.0a1
plone.app.vocabularies==7.0.0a1
plone.app.widgets==6.0.0a1
plone.app.workflow==6.0.0a2
plone.app.z3cform==5.0.0a1
plone.autoform==3.0.0a1
plone.autoinclude==3.0.0a1
plone.base==4.0.0a4
plone.batching==3.0.0a1
plone.behavior==3.0.0a1
plone.browserlayer==4.0.0a2
plone.cachepurging==4.0.0a1
plone.caching==3.0.0a1
plone.classicui==2.0.0a1
plone.contentrules==4.0.0a1
plone.dexterity==4.0.0a1
plone.distribution==4.0.0a2
plone.event==3.0.0a1
plone.exportimport==2.0.0a1
plone.folder==5.0.0a1
plone.formwidget.namedfile==4.0.0a1
plone.formwidget.recurrence==4.0.0a1
plone.i18n==6.0.0a1
plone.indexer==3.0.0a1
plone.intelligenttext==5.0.0a1
plone.keyring==5.0.0a1
plone.locking==4.0.0a3
plone.memoize==4.0.0a1
plone.namedfile==8.0.0a1
plone.outputfilters==6.0.0a1
plone.portlet.collection==5.0.0a1
plone.portlet.static==5.0.0a1
plone.portlets==4.0.0a1
plone.protect==6.0.0a2
plone.recipe.zope2instance==9.0.0a1
plone.registry==3.0.0a1
plone.resource==4.0.0a1
plone.resourceeditor==5.0.0a1
plone.rest==6.0.0a1
plone.restapi==10.0.0a1
plone.rfc822==4.0.0a1
plone.scale==5.0.0a2
plone.schema==3.0.0a1
plone.schemaeditor==5.0.0a1
plone.session==5.0.0a1
plone.staticresources==3.0.0a3
plone.stringinterp==3.0.0a1
plone.subrequest==3.0.0a1
plone.supermodel==3.0.0a1
plone.testing==10.0.0a1
plone.theme==5.0.0a1
plone.tiles==4.0.0a1
plone.transformchain==4.0.0a1
plone.uuid==3.0.0a1
plone.volto==6.0.0a1
plone.z3cform==3.0.0a1
plonetheme.barceloneta==4.0.0a3
Products.CMFDiffTool==5.0.0a1
Products.CMFDynamicViewFTI==8.0.0a1
Products.CMFEditions==5.0.0a1
Products.CMFPlacefulWorkflow==4.0.0a1
Products.CMFPlone==6.1.1
Products.ExtendedPathIndex==6.0.0a1
Products.isurlinportal==4.0.0a1
Products.MimetypesRegistry==4.0.0a1
Products.PlonePAS==9.0.0a1
Products.PortalTransforms==5.0.0a2
Products.statusmessages==6.0.0a1
pytest-plone==1.0.0a2
collective.MockMailHost==4.0.0a1
collective.monkeypatcher==3.0.0a1
collective.recipe.omelette==3.0.0a1
collective.recipe.vscode==0.1.9
icalendar==7.0.0a1
Products.DateRecurringIndex==3.0.1
five.customerize==4.0
Products.CMFCore==3.8
Products.CMFUid==5.0
Products.DCWorkflow==4.0
Products.ExternalMethod==6.1
Products.GenericSetup==5.1.0
Products.MailHost==6.1
Products.PluggableAuthService==4.1
Products.PluginRegistry==3.1
Products.PythonScripts==5.2
Products.Sessions==6.2
Products.SiteErrorLog==7.0
Products.StandardCacheManagers==6.1
Products.ZopeVersionControl==5.1
repoze.xmliter==2.0a2
z3c.caching==4.0
z3c.form==6.0.1
z3c.formwidget.query==3.0
z3c.objpath==3.0
z3c.relationfield==3.0
z3c.unconfigure==3.0
z3c.zcmlhook==3.0
zc.relation==3.0
zdaemon==5.2.1
ZEO==6.1
zest.releaser==9.8.0
zestreleaser.towncrier==2.0.0
ZODB3==3.11.0
zodbupdate==3.0
zope.app.locales==6.0
zope.componentvocabulary==4.0
zope.copy==6.0
zope.intid==6.0
zope.keyreference==7.0
zope.pytestlayer==9.1
zope.ramcache==4.0
zope.sendmail==7.0
async-generator==1.10
attrs==25.4.0
backports.cached-property==1.0.2
backports.tarfile==1.2.0
build==1.4.0
check-manifest==0.51
click==8.3.1
cmarkgfm==2025.10.22
coverage==7.13.1
cryptography==46.0.3
cssselect==1.3.0
decorator==5.2.1
feedparser==6.0.12
furl==2.1.4
future==1.0.0
gunicorn==23.0.0
h11==0.16.0
id==1.5.0
importlib-metadata==8.7.1
importlib-resources==6.5.2
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.0.2
jaraco.functools==4.4.0
jeepney==0.9.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keyring==25.7.0
lxml==5.4.0
lxml-html-clean==0.4.3
manuel==1.13.0
Markdown==3.10
markdown-it-py==4.0.0
mdurl==0.1.2
mock==5.2.0
more-itertools==10.8.0
natsort==8.4.0
nh3==0.3.2
orderedmultidict==1.0.2
outcome==1.3.0post0
overrides==7.7.0
pep440==0.1.2
piexif==1.1.3
Pillow==12.1.0
pluggy==1.6.0
prompt-toolkit==3.0.52
psutil==7.2.1
py==1.11.0
PyJWT==2.10.1
pyOpenSSL==25.3.0
pyproject-hooks==1.2.0
pyroma==5.0.1
pyrsistent==0.20.0
PySocks==1.7.1
pytest==9.0.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyYAML==6.0.3
readme-renderer==44.0
referencing==0.37.0
requests-toolbelt==1.0.0
responses==0.25.8
rfc3986==2.0.0
rich==14.2.0
robotframework==7.3.2
robotframework-assertion-engine==3.0.3
robotframework-browser==19.10.1
robotframework-debuglibrary==2.5.0
robotframework-lsp==1.13.0
robotframework-pythonlibcore==4.4.1
robotframework-selenium2library==3.0.0
robotframework-selenium2screenshots==0.8.1
robotframework-seleniumlibrary==6.7.1
robotframework-seleniumtestability==2.1.0
robotsuite==3.0.1
rpds-py==0.30.0
SecretStorage==3.5.0
seedir==0.5.1
selenium==4.9.1
sgmllib3k==1.0.0
simplejson==3.20.2
sniffio==1.3.1
sortedcontainers==2.4.0
toml==0.10.2
towncrier==25.8.0
trio==0.32.0
trio-websocket==0.12.2
trove-classifiers==2025.12.1.14
twine==6.2.0
types-PyYAML==6.0.12.10
types-toml==0.10.8.5
tzdata==2025.3
Unidecode==1.4.0
urllib3-secure-extra==0.1.0
watchdog==6.0.0
wcwidth==0.2.14
webresource==1.2
wrapt==2.0.1
wsproto==1.3.2
zipp==3.23.0
exceptiongroup==1.3.1; python_version > "3.10"
exceptiongroup==1.3.0; python_version == "3.10"
pywin32-ctypes==0.2.3; platform_system == "Windows"
