collective.z3cform.datagridfield==4.0.0a1
plone.app.blocks==8.0.0a1
plone.app.debugtoolbar==2.0.0a1
plone.app.drafts==2.0.0
plone.app.mosaic==4.0.0a1
plone.app.standardtiles==4.0.0a1
plone.app.tiles==5.0.0
plone.formwidget.autocomplete==1.5.0
plone.jsonserializer==1.0.0a1
Products.PDBDebugMode==3.0.0
Products.PrintingMailHost==2.0.0
Products.validation==3.0.1
z3c.jbot==3.1
