collective.z3cform.datagridfield==3.0.2
plone.app.blocks==7.0.1
plone.app.debugtoolbar==1.4.0
plone.app.drafts==2.0.0
plone.app.jquerytools==1.9.5
plone.app.mosaic==3.2.0a7
plone.app.standardtiles==3.1.4
plone.app.tiles==4.0.1
plone.formwidget.autocomplete==1.4.1
plone.jsonserializer==0.9.11
Products.PDBDebugMode==2.0
Products.PrintingMailHost==1.1.7
Products.validation==3.0.0
z3c.jbot==2.0
z3c.unconfigure==2.0
