collective.z3cform.datagridfield==4.0.0a1
plone.app.blocks==7.0.1
plone.app.debugtoolbar==1.4.0
plone.app.drafts==2.0.0
plone.app.jquerytools==1.9.5
plone.app.mosaic==4.0.0a1
plone.app.standardtiles==4.0.0a1
plone.app.tiles==4.0.2
plone.formwidget.autocomplete==1.5.0
plone.jsonserializer==1.0.0a1
Products.PDBDebugMode==2.1
Products.PrintingMailHost==1.1.8
Products.validation==3.0.1
z3c.jbot==3.1
