# File created by /Users/timo/workspace/plone/buildout.coredev-6.0/scripts/create-constraints.py
# Constraints parsed from buildout.cfg
AccessControl==5.0
Acquisition==4.7
AuthEncoding==4.2
BTrees==4.7.2
Babel==2.9.0
Chameleon==3.9.0
DateTime==4.3
Deprecated==1.2.10
DocumentTemplate==4.0
ExtensionClass==4.5.0
FormEncode==1.3.1
Genshi==0.7.3
GitPython==3.0.5
Jinja2==2.11.3
MarkupSafe==1.1.1
Missing==4.1
MultiMapping==4.1
Paste==3.5.0
PasteDeploy==2.1.1
Persistence==3.0
Plone==5.2.2
Products.BTreeFolder2==4.2
Products.CMFCore==2.5.1
Products.CMFDiffTool==3.3.2
Products.CMFDynamicViewFTI==6.0.3
Products.CMFEditions==4.0.0a1
Products.CMFPlacefulWorkflow==2.0.4
Products.CMFPlone==5.2.2
Products.CMFUid==3.1.0
Products.DCWorkflow==2.5.0
Products.DateRecurringIndex==3.0.1
Products.ExtendedPathIndex==4.0.1
Products.ExternalEditor==3.0.1
Products.ExternalMethod==4.5
Products.GenericSetup==2.1.1
Products.MailHost==4.11
Products.MimetypesRegistry==2.1.8
Products.PDBDebugMode==2.0
Products.PloneLanguageTool==3.2.10
Products.PlonePAS==6.0.7
Products.PloneTestCase==0.9.18
Products.PluggableAuthService==2.6.2
Products.PluginRegistry==1.9
Products.PortalTransforms==3.1.10
Products.PrintingMailHost==1.1.6
Products.PythonScripts==4.12
Products.SecureMailHost==1.1.2
Products.Sessions==4.9
Products.SiteErrorLog==5.5
Products.StandardCacheManagers==4.0.3
Products.ZCatalog==6.0
Products.ZODBMountPoint==1.0
Products.ZSQLMethods==3.11
Products.ZopeVersionControl==2.0.0
Products.contentmigration==2.2.1
Products.isurlinportal==1.1.1
Products.statusmessages==5.0.5
Products.validation==2.1.3
PyGithub==1.47
Pygments==2.7.4
Record==3.5
RestrictedPython==5.1
SecretStorage==3.3.1
Sphinx==3.4.3
WSGIProxy2==0.4.6
WebOb==1.8.6
WebTest==2.0.35
ZConfig==3.5.0
ZEO==5.2.2
ZODB==5.6.0
ZODB3==3.11.0
Zope==5.1.2
Zope2==4.0
ZopeUndo==4.3
alabaster==0.7.12
appdirs==1.4.4
argcomplete==1.12.2
argh==0.26.2
attrs==20.3.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
bleach==3.3.0
borg.localrole==3.1.8
build==0.1.0
buildout.requirements==0.2.2
buildout.wheel==0.2.0
cachecontrol==0.12.6
cached-property==1.5.2
calmjs.parse==1.2.5
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
check-manifest==0.46
click==7.1.2
cmarkgfm==0.5.2
collective.MockMailHost==2.0.0
collective.js.jqueryui==2.1.6
collective.monkeypatcher==1.2.1
collective.recipe.cmd==0.11
collective.recipe.omelette==1.0.0
collective.recipe.sphinxbuilder==1.1
collective.recipe.template==2.1
collective.recipe.vscode==0.1.6
collective.xmltestreport==2.0.2
collective.z3cform.datagridfield==2.0
collective.z3cform.datetimewidget==1.2.9
colorama==0.4.4
configparser==5.0.1
contextlib2==0.6.0.post1
coverage==5.4
cryptography==3.4.4
cssselect==1.1.0
decorator==4.4.2
diazo==1.4.0
distlib==0.3.1
distro==1.5.0
docutils==0.16
entrypoints==0.3
enum34==1.1.10
fancycompleter==0.9.1
feedparser==6.0.1
filelock==3.0.12
five.customerize==2.0.1
five.intid==1.2.6
five.localsitemanager==3.2.2
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.18.2
futures==3.3.0
gitdb2==2.0.6
html5lib==1.1i
httplib2==0.18.1
i18ndude==5.4.0
icalendar==4.0.7
idna==2.10
imagesize==1.2.0
importlib-metadata==3.4.0
incremental==17.5.0
interlude==1.3.1
ipaddress==1.0.23
jeepney==0.6.0
jsonschema==3.2.0
keyring==22.0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.3
lazr.uri==1.0.5
lockfile==0.12.2
lxml==4.6.2
manuel==1.10.1
markdown==3.2.2
mock==4.0.3
mockup==3.2.2
more-itertools==8.7.0
mr.developer==2.0.1
msgpack==0.6.2
multipart==0.2.4
nose==1.3.7
nt-svcutils==2.13.0
oauthlib==3.1.0
olefile==0.46
ordereddict==1.1
packaging==20.9
pathlib==1.0.1
pathlib2==2.3.5
pbr==5.5.1
pdbpp==0.10.2
pep517==0.9.1
persistent==4.6.4
piexif==1.1.3
pillow==8.2.0
pip==21.0.1
pkginfo==1.7.0
plone.alterego==1.1.5
plone.api==1.10.4
plone.app.blocks==5.0.0
plone.app.caching==3.0.0a4
plone.app.content==4.0.0a2
plone.app.contentlisting==2.0.3
plone.app.contentmenu==2.3.2
plone.app.contentrules==5.0.0a1
plone.app.contenttypes==3.0.0a2
plone.app.customerize==1.3.11
plone.app.debugtoolbar==1.2.2
plone.app.dexterity==3.0.0a1
plone.app.discussion==4.0.0a1
plone.app.drafts==1.1.3
plone.app.event==4.0.0a3
plone.app.i18n==3.0.6
plone.app.intid==1.1.4
plone.app.iterate==3.3.16
plone.app.layout==4.0.0a1
plone.app.linkintegrity==3.6.2
plone.app.locales==5.1.28
plone.app.lockingbehavior==1.0.7
plone.app.mosaic==2.2.3
plone.app.multilingual==6.0.0a1
plone.app.portlets==5.0.0a1
plone.app.querystring==1.4.14
plone.app.redirector==2.2.1
plone.app.registry==2.0.0a1
plone.app.relationfield==2.0.3
plone.app.robotframework==1.5.6
plone.app.standardtiles==2.4.0
plone.app.testing==6.1.8
plone.app.textfield==1.3.5
plone.app.theming==4.1.6
plone.app.tiles==3.2.1
plone.app.upgrade==2.0.38
plone.app.users==3.0.0a1
plone.app.uuid==2.0.2
plone.app.versioningbehavior==1.4.3
plone.app.viewletmanager==3.1.1
plone.app.vocabularies==4.2.2
plone.app.widgets==3.0.5
plone.app.workflow==5.0.0a1
plone.app.z3cform==4.0.0a1
plone.autoform==1.9.0
plone.batching==2.0.0a1
plone.behavior==1.4.0
plone.browserlayer==2.2.4
plone.cachepurging==2.0.3
plone.caching==1.2.2
plone.contentrules==2.1.1
plone.dexterity==2.10.0
plone.event==1.4.1
plone.folder==3.1.0
plone.formwidget.autocomplete==1.4.0
plone.formwidget.contenttree==1.2.0
plone.formwidget.datetime==1.3.5
plone.formwidget.namedfile==3.0.0a1
plone.formwidget.querystring==1.1.10
plone.formwidget.recurrence==2.1.4
plone.i18n==4.0.6
plone.indexer==1.0.7
plone.intelligenttext==3.1.0
plone.jsonserializer==0.9.10
plone.keyring==3.1.3
plone.locking==2.2.4
plone.memoize==2.1.0
plone.mockup==1.0
plone.namedfile==5.4.0
plone.outputfilters==4.0.2
plone.portlet.collection==4.0.0a2
plone.portlet.static==4.0.0a1
plone.portlets==2.3.2
plone.protect==4.1.6
plone.recipe.alltests==1.5.2
plone.recipe.command==1.1
plone.recipe.precompiler==0.7.2
plone.recipe.zeoserver==2.0.3
plone.recipe.zope2instance==6.10.0
plone.registry==1.2.1
plone.releaser==1.8.3
plone.reload==3.0.1
plone.resource==2.1.4
plone.resourceeditor==3.0.3
plone.rest==1.6.2
plone.restapi==7.3.5
plone.rfc822==2.0.2
plone.scale==3.1.2
plone.schema==1.3.0
plone.schemaeditor==3.0.2
plone.session==3.7.5
plone.staticresources==2.0.0a1
plone.stringinterp==1.3.3
plone.subrequest==1.9.3
plone.supermodel==1.6.3
plone.synchronize==1.0.4
plone.testing==8.0.3
plone.theme==3.0.7
plone.tiles==2.3.0
plone.transformchain==2.0.2
plone.uuid==1.0.6
plone.versioncheck==1.7.0
plone.z3cform==2.0.0a1
plonetheme.barceloneta==3.0.0a2
plonetheme.sunburst==1.5.5
pluggy==0.13.1
ply==3.11
progress==1.5
prompt-toolkit==1.0.18
py==1.10.0
pycparser==2.20
pyjwt==1.7.1
pyparsing==2.4.7
pyrepl==0.9.0
pyroma==2.6
pyrsistent==0.17.3
pyscss==1.3.7
python-dateutil==2.8.1
python-dotenv==0.15.0
python-gettext==4.0
pytz==2021.1
readme-renderer==28.0
repoze.sphinx.autointerface==0.8
repoze.xmliter==0.6
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
robotframework==3.1.2
robotframework-debuglibrary==1.2.1
robotframework-python3==2.9
robotframework-ride==1.7.4.1
robotframework-selenium2library==3.0.0
robotframework-selenium2screenshots==0.8.1
robotframework-seleniumlibrary==3.3.1
robotsuite==2.2.1
roman==3.3
scandir==1.10.0
selenium==3.141.0
setuptools==54.0.0
sgmllib3k==1.0.0
shutilwhich==1.1.0
simplejson==3.17.2
six==1.15.0
smmap==3.0.4
smmap2==3.0.1
snowballstemmer==2.1.0
soupsieve==2.2
sourcecodegen==0.6.14
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
stdlib-list==0.7.0
tempstorage==5.1
testresources==2.0.1
toml==0.10.2
towncrier==19.2.0
tox==3.21.4
tqdm==4.56.1
transaction==3.0.1
twine==3.2.0
typing==3.7.4.3
typing-extensions==3.7.4.3
unidecode==0.04.1
urllib3==1.26.3
virtualenv==20.4.2
wadllib==1.3.4
waitress==1.4.4
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.36.2
wmctrl==0.3
wrapt==1.12.1
z3c.autoinclude==0.4.1
z3c.batching==2.2
z3c.blobfile==0.1.5
z3c.caching==2.2
z3c.checkversions==1.2
z3c.dependencychecker==2.7
z3c.form==3.7.1
z3c.formwidget.query==0.17
z3c.jbot==1.1.0
z3c.objpath==1.2
z3c.pt==3.3.0
z3c.relationfield==0.9.0
z3c.template==3.1.0
z3c.unconfigure==1.1
z3c.zcmlhook==1.0b1
zExceptions==4.1
zc.buildout==3.0.0b2
zc.lockfile==2.0
zc.recipe.egg==2.0.7
zc.recipe.testrunner==2.2
zc.relation==1.1.post2
zc.relationship==2.0.post1
zc.sourcefactory==1.1
zdaemon==4.3
zest.pocompile==1.5.0
zest.releaser==6.22.1
zestreleaser.towncrier==1.2.0
zipp==3.4.0
zodbpickle==2.0.0
zodbupdate==1.5
zodbverify==1.1.0
zope.annotation==4.7.0
zope.app.intid==3.7.1
zope.app.locales==4.1
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.component==4.6.2
zope.componentvocabulary==2.2.0
zope.configuration==4.4.0
zope.container==4.4.0
zope.contentprovider==4.2.1
zope.contenttype==4.5.0
zope.copy==4.2
zope.copypastemove==4.1.0
zope.datetime==4.2.0
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.dublincore==4.2.0
zope.event==4.5.0
zope.exceptions==4.4
zope.filerepresentation==5.0.0
zope.formlib==4.7.1
zope.globalrequest==1.5
zope.hookable==5.0.1
zope.i18n==4.7.0
zope.i18nmessageid==5.0.1
zope.interface==5.1.1
zope.intid==4.3.0
zope.keyreference==4.2.0
zope.lifecycleevent==4.3.0
zope.location==4.2
zope.mkzeoinstance==4.1
zope.pagetemplate==4.5.0
zope.password==4.3.1
zope.processlifetime==2.3.0
zope.proxy==4.3.5
zope.ptresource==4.2.0
zope.publisher==6.0.0
zope.ramcache==2.3
zope.schema==6.1.0
zope.security==5.1.1
zope.sendmail==5.2
zope.sequencesort==4.1.2
zope.site==4.4.0
zope.size==4.3
zope.structuredtext==4.3
zope.tal==4.4
zope.tales==5.1
zope.testbrowser==5.5.1
zope.testing==4.9
zope.testrunner==5.2
zope.traversing==4.4.1
zope.viewlet==4.2.1
