argcomplete==3.6.2
argh==0.31.3
bleach==6.2.0
cachecontrol==0.14.3
cached-property==2.0.1
click-default-group==1.2.4
colorama==0.4.6
commonmark==0.9.1
configparser==7.2.0
Deprecated==1.2.18
distro==1.9.0
fancycompleter==0.11.1
filelock==3.18.0
gitdb==4.0.12
GitPython==3.1.44
httplib2==0.22.0
i18ndude==6.2.1
incremental==24.7.2
lockfile==0.12.2
msgpack==1.1.0
mxdev==4.1.0
oauthlib==3.2.2
pdbpp==0.11.7
pep517==0.13.1
plone.recipe.zeoserver==3.0.4
plone.releaser==2.5.1
plone.reload==4.0.0
plone.versioncheck==1.8.2
progress==1.6
PyGithub==2.6.1
PyNaCl==1.5.0
pyparsing==3.2.3
pyrepl==0.11.4
python-magic==0.4.27
smmap==5.0.2
stdlib-list==0.11.1
wadllib==2.0.0
webencodings==0.5.1
wmctrl==0.5
z3c.dependencychecker==2.15
zest.pocompile==2.0.0
zodbverify==1.2.0
zope.mkzeoinstance==6.0
ZopeUndo==6.0
