# File created by ../5.2/create-constraints.py
# Constraints parsed from buildout.cfg
AccessControl==3.0.14
Acquisition==4.4.4
BTrees==4.4.1
Babel==1.3
CacheControl==0.12.6
Chameleon==2.25
ClientForm==0.2.10
DateTime==4.2
Deprecated==1.2.10
DocumentTemplate==2.13.6
ExtensionClass==4.3.0
FormEncode==1.3.1
GitPython==2.1.15
Jinja2==2.11.2
Markdown==2.6.11
MarkupSafe==1.1.1
Missing==3.2
MultiMapping==3.1
Paste==1.7.5.1
PasteDeploy==1.3.4
PasteScript==1.7.5
Persistence==2.13.2
Pillow==5.4.1
Plone==5.1.7
Products.ATContentTypes==2.3.9
Products.Archetypes==1.15.8
Products.BTreeFolder2==2.14.0
Products.CMFCore==2.2.13
Products.CMFDiffTool==3.3.2
Products.CMFDynamicViewFTI==5.0.0
Products.CMFEditions==3.2.2
Products.CMFFormController==3.1.5
Products.CMFPlacefulWorkflow==1.7.6
Products.CMFPlone==5.1.7rc1
Products.CMFQuickInstallerTool==3.0.16
Products.CMFUid==2.2.2
Products.DCWorkflow==2.2.5
Products.DateRecurringIndex==2.1
Products.ExtendedPathIndex==3.4.2
Products.ExternalEditor==1.1.3
Products.ExternalMethod==2.13.1
Products.GenericSetup==1.8.11
Products.MIMETools==2.13.0
Products.MailHost==2.13.2
Products.Marshall==2.3
Products.MimetypesRegistry==2.1.8
Products.OFSP==2.13.2
Products.PlacelessTranslationService==2.0.7
Products.PloneLanguageTool==3.2.10
Products.PlonePAS==5.1.1
Products.PloneTestCase==0.9.18
Products.PluggableAuthService==1.11.3
Products.PluginRegistry==1.4.1
Products.PortalTransforms==3.1.10
Products.PythonScripts==2.13.2
Products.ResourceRegistries==3.0.8
Products.SecureMailHost==1.1.2
Products.Sessions==3.0
Products.StandardCacheManagers==2.13.1
Products.TemporaryFolder==3.0
Products.TinyMCE==1.4.3
Products.ZCTextIndex==2.13.5
Products.ZCatalog==3.0.3
Products.ZSQLMethods==2.13.6
Products.ZopeVersionControl==1.1.4
Products.contentmigration==2.1.19
Products.isurlinportal==1.1.1
Products.statusmessages==5.0.5
Products.validation==2.1.3
PyGithub==1.45
PyJWT==1.5.3
PyYAML==3.12
Pygments==2.5.2
Record==2.13.0
RestrictedPython==3.6.0
SecretStorage==2.3.1
Sphinx==1.6.5
Unidecode==0.04.1
WebOb==1.7.4
ZConfig==3.1.0
ZEO==5.1.2
ZODB==5.3.0
ZODB3==3.11.0
ZServer==3.0
Zope2==2.13.30
ZopeUndo==4.3
alabaster==0.7.12
archetypes.multilingual==3.0.8
archetypes.referencebrowserwidget==2.5.11
archetypes.schemaextender==2.1.8
argcomplete==1.9.5
argh==0.26.2
argparse==1.4.0
args==0.1.0
backports.functools-lru-cache==1.6.1
bleach==2.1.4
borg.localrole==3.1.8
certifi==2020.4.5.1
cffi==1.11.5
chardet==3.0.4
check-manifest==0.41
click==6.7
clint==0.5.1
cmarkgfm==0.4.2
collective.js.jqueryui==2.1.6
collective.monkeypatcher==1.2.1
collective.recipe.omelette==0.16
collective.recipe.sphinxbuilder==1.1
collective.recipe.template==2.1
collective.transmogrifier==1.5.2
collective.xmltestreport==1.3.4
collective.z3cform.datagridfield==1.4.0
collective.z3cform.datagridfield-demo==0.6
collective.z3cform.datetimewidget==1.2.9
colorama==0.4.3
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==4.5.4
cssselect==1.0.3
decorator==4.1.2
diazo==1.4.0
distlib==0.3.0
distribute==0.7.3
distro==1.5.0
docutils==0.14
ecdsa==0.15
elementtree==1.2.7-20070827-preview
enum34==1.1.10
feedparser==5.2.1
five.customerize==1.1
five.formlib==1.0.4
five.globalrequest==1.0
five.grok==1.3.2
five.intid==1.1.2
five.localsitemanager==2.0.6
five.pt==2.2.5
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.18.2
futures==3.3.0
gitdb2==2.0.6
grokcore.annotation==1.6
grokcore.component==2.7
grokcore.formlib==1.9
grokcore.security==1.6.3
grokcore.site==1.8
grokcore.view==2.11
grokcore.viewlet==1.11
html5lib==0.999999999
httplib2==0.10.3
i18ndude==4.4.0
icalendar==4.0.7
idna==2.10
imagesize==0.7.1
importlib-metadata==1.3.0
importlib-resources==1.0.2
incremental==17.5.0
initgroups==4.0
interlude==1.3.1
ipaddress==1.0.23
jsonschema==2.6.0
keyring==4.1.1
launchpadlib==1.10.13
lazr.authentication==0.1.3
lazr.restfulclient==0.14.3
lazr.uri==1.0.3
lockfile==0.12.2
lxml==4.2.6
mailinglogger==3.8.0
manuel==1.8.0
martian==0.15
mechanize==0.2.5
mock==2.0
mockup==2.7.9
more-itertools==5.0.0
mr.developer==1.38
msgpack==1.0.0
msgpack-python==0.4.8
nose==1.1.2
nt-svcutils==2.13.0
oauth==1.0.1
oauthlib==3.1.0
olefile==0.46
ordereddict==1.1
pathlib==1.0.1
pathlib2==2.3.5
pathtools==0.1.2
pbr==1.10.0
pep517==0.8.2
persistent==4.2.4.2
piexif==1.1.3
pkginfo==1.5.0.1
plone.alterego==1.1.5
plone.api==1.10.3
plone.app.blob==1.7.5
plone.app.blocks==4.1.2.post5
plone.app.caching==1.2.23
plone.app.collection==1.2.8
plone.app.content==3.5.10
plone.app.contentlisting==1.3.4
plone.app.contentmenu==2.3.2
plone.app.contentrules==4.0.19
plone.app.contenttypes==1.4.18
plone.app.controlpanel==3.0.4
plone.app.customerize==1.3.11
plone.app.debugtoolbar==1.2.2
plone.app.dexterity==2.6.6
plone.app.discussion==3.0.8
plone.app.drafts==1.1.2
plone.app.event==3.2.9
plone.app.folder==1.2.6
plone.app.i18n==3.0.6
plone.app.imaging==2.0.8
plone.app.intid==1.1.4
plone.app.iterate==3.3.15
plone.app.layout==2.8.5
plone.app.ldap==1.4.4
plone.app.linkintegrity==3.3.14
plone.app.locales==5.1.25
plone.app.lockingbehavior==1.0.7
plone.app.mosaic==2.1.1
plone.app.multilingual==5.2.4
plone.app.openid==2.2.3
plone.app.portlets==4.3.4
plone.app.querystring==1.4.14
plone.app.redirector==1.3.7
plone.app.referenceablebehavior==0.7.8
plone.app.registry==1.7.7
plone.app.relationfield==1.4.3
plone.app.robotframework==1.4.0
plone.app.standardtiles==2.3.2
plone.app.testing==5.0.9
plone.app.textfield==1.2.11
plone.app.theming==2.0.5
plone.app.tiles==3.2.0
plone.app.transmogrifier==1.4.2
plone.app.upgrade==2.0.35
plone.app.users==2.4.3
plone.app.uuid==1.2
plone.app.versioningbehavior==1.4.1
plone.app.viewletmanager==2.0.12
plone.app.vocabularies==4.0.7
plone.app.widgets==2.4.1
plone.app.workflow==3.0
plone.app.z3cform==3.0.10
plone.autoform==1.9.0
plone.batching==1.1.6
plone.behavior==1.4.0
plone.browserlayer==2.2.4
plone.cachepurging==1.0.16
plone.caching==1.2.2
plone.contentrules==2.1.0
plone.dexterity==2.6.3
plone.directives.dexterity==1.0.2
plone.directives.form==2.0.3
plone.directives.tiles==1.2
plone.event==1.4.1
plone.folder==2.0.2
plone.formwidget.autocomplete==1.2.11
plone.formwidget.contenttree==1.0.16
plone.formwidget.datetime==1.3.5
plone.formwidget.namedfile==2.0.11
plone.formwidget.querystring==1.1.10
plone.formwidget.recurrence==2.1.4
plone.i18n==3.0.8
plone.indexer==1.0.7
plone.intelligenttext==3.1.0
plone.jsonserializer==0.9.6
plone.keyring==3.1.3
plone.locking==2.2.4
plone.memoize==2.1.0
plone.mockup==1.0
plone.namedfile==4.3.0
plone.openid==2.0.5
plone.outputfilters==3.0.5
plone.portlet.collection==3.3.5
plone.portlet.static==3.1.6
plone.portlets==2.3.2
plone.protect==3.1.5
plone.recipe.alltests==1.5.2
plone.recipe.zeoserver==2.0.3
plone.recipe.zope2instance==4.4.1
plone.registry==1.1.6
plone.releaser==1.8.2
plone.reload==3.0.1
plone.resource==2.0.2
plone.resourceeditor==2.1.3
plone.rfc822==1.1.4
plone.scale==3.1.2
plone.schema==1.2.1
plone.schemaeditor==2.1.1
plone.session==3.7.5
plone.stringinterp==1.3.3
plone.subrequest==1.8.7
plone.supermodel==1.5.0
plone.synchronize==1.0.4
plone.testing==4.3.3
plone.theme==3.0.7
plone.tiles==2.3.0
plone.transformchain==2.0.2
plone.uuid==1.0.6
plone.versioncheck==1.7.0
plone.z3cform==0.9.2
plonetheme.barceloneta==2.1.9
plonetheme.sunburst==1.5.5
ply==3.4
progress==1.3
prompt-toolkit==1.0.15
py==1.3.4
pyScss==1.3.7
pyasn1==0.3.7
pycparser==2.18
pycrypto==2.6.1
pyroma==2.6
python-dateutil==2.7.5
python-gettext==3.0
python-jose==1.4.0
python-openid==2.2.5
pytz==2017.3
readme-renderer==26.0
repoze.retry==1.2
repoze.tm2==1.0
repoze.who==2.0
repoze.xmliter==0.6
requests==2.24.0
requests-toolbelt==0.9.1
robotframework==3.0.4
robotframework-debuglibrary==1.1.4
robotframework-ride==1.5.2.1
robotframework-selenium2library==3.0.0
robotframework-selenium2screenshots==0.8.1
robotframework-seleniumlibrary==3.2.0
robotsuite==2.0.0
roman==1.4.0
scandir==1.10.0
selenium==3.14.1
setuptools==42.0.2
simplejson==3.17.2
six==1.10.0
slimit==0.8.1
smmap2==2.0.5
snowballstemmer==1.2.1
sourcecodegen==0.6.14
sphinx-rtd-theme==0.2.4
sphinxcontrib-robotframework==0.6.1
sphinxcontrib-websupport==1.0.1
tempstorage==4.0.1
testresources==2.0.1
tl.eggdeps==0.4
toml==0.9.6
towncrier==19.2.0
tqdm==4.19.9
transaction==2.1.2
transmogrify.dexterity==1.6.4
trollius==2.1.post2
twine==1.15.0
typing==3.7.4.3
unittest2==0.5.1
urllib3==1.25.10
wadllib==1.3.3
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.35.1
wrapt==1.12.1
wsgi-intercept==0.4
z3c.autoinclude==0.4.0
z3c.batching==2.2
z3c.blobfile==0.1.5
z3c.caching==2.0a1
z3c.checkversions==1.1
z3c.form==3.6
z3c.formwidget.query==0.17
z3c.jbot==0.8
z3c.objpath==1.1
z3c.pt==3.3.0
z3c.ptcompat==2.0
z3c.recipe.compattest==0.12.2
z3c.recipe.depgraph==0.5
z3c.recipe.sphinxdoc==1.1.0
z3c.relationfield==0.9.0
z3c.template==2.0.0
z3c.unconfigure==1.0.1
z3c.zcmlhook==1.0b1
zExceptions==2.13.0
zLOG==3.0
zc.buildout==2.13.3
zc.lockfile==1.4
zc.queue==1.3
zc.recipe.egg==2.0.7
zc.recipe.testrunner==1.2.1
zc.relation==1.0
zc.resourcelibrary==1.3.4
zc.sourcefactory==0.7.0
zdaemon==4.2.0
zest.pocompile==1.5.0
zest.releaser==6.21.1
zestreleaser.towncrier==1.2.0
zipp==0.6.0
zodbpickle==0.7.0
zope.annotation==3.5.0
zope.app.appsetup==3.14.0
zope.app.container==3.9.2
zope.app.form==4.0.2
zope.app.intid==3.7.1
zope.app.locales==3.7.5
zope.app.publication==3.12.0
zope.app.publisher==3.10.2
zope.app.testing==3.7.8
zope.app.wsgi==3.9.3
zope.applicationcontrol==3.5.5
zope.authentication==3.7.1
zope.broken==3.6.0
zope.browser==2.1.0
zope.browsermenu==4.2
zope.browserpage==4.1.0
zope.browserresource==4.1.0
zope.cachedescriptors==3.5.1
zope.catalog==3.8.2
zope.component==4.4.1
zope.componentvocabulary==1.0.1
zope.configuration==3.7.4
zope.container==3.11.2
zope.contentprovider==3.7.2
zope.contenttype==4.2.0
zope.copy==3.5.0
zope.copypastemove==3.7.0
zope.datetime==3.4.1
zope.deferredimport==3.5.3
zope.deprecation==4.3.0
zope.documenttemplate==3.4.3
zope.dottedname==4.2
zope.dublincore==3.7.1
zope.error==3.7.4
zope.event==3.5.2
zope.exceptions==3.6.2
zope.filerepresentation==3.6.1
zope.formlib==4.0.6
zope.globalrequest==1.2
zope.hookable==3.4.1
zope.i18n==4.2.0
zope.i18nmessageid==4.1.0
zope.index==3.6.4
zope.interface==4.4.3
zope.intid==3.7.2
zope.keyreference==3.6.4
zope.kgs==1.2.0
zope.lifecycleevent==3.6.2
zope.location==3.9.1
zope.login==1.0.0
zope.mimetype==1.3.1
zope.minmax==2.1.0
zope.mkzeoinstance==4.1
zope.pagetemplate==4.2.1
zope.password==3.6.1
zope.pluggableauth==1.0.3
zope.principalannotation==3.6.1
zope.principalregistry==3.7.1
zope.processlifetime==1.0
zope.proxy==4.3.0
zope.ptresource==3.9.0
zope.publisher==4.3.2
zope.ramcache==2.2.0
zope.schema==4.5.0
zope.security==4.1.1
zope.securitypolicy==3.7.0
zope.sendmail==3.7.5
zope.sequencesort==3.4.0
zope.server==3.6.3
zope.session==3.9.5
zope.site==3.9.2
zope.size==3.4.1
zope.structuredtext==3.5.1
zope.tal==3.5.2
zope.tales==3.5.3
zope.testbrowser==3.11.1
zope.testing==3.9.7
zope.testrunner==4.4.4
zope.traversing==4.1.0
zope.untrustedpython==4.0.0
zope.viewlet==3.7.2
