[buildout]
extends =
    sources.cfg
    checkouts.cfg
    versions.cfg
    tests.cfg

allow-hosts =
    *.python.org
    *.plone.org
    *.zope.org
    pypi.org
    files.pythonhosted.org
    launchpad.net
    code.google.com
    robotframework.googlecode.com

find-links += https://dist.plone.org/thirdparty/

extensions =
    plone.versioncheck
# Keep mr.developer as last one, because some jenkins scripts look for
# this and add a git-clone-depth after it.
    mr.developer

# require picked versions
show-picked-versions = true
allow-picked-versions = false

# define a template directory here in order to override it later in custom
template-directory = ${buildout:directory}/templates

# define a config directory
config-directory = ${buildout:directory}/etc

# hook for custom eggs. In local.cfg this can be extended
# with += to add custom eggs for whatever intend.
custom-eggs =

# non-immersive development helpers commonly needed for Plone Core Development
devtool-eggs =
    zodbverify
    pdbpp

# the default plone user and password for local development
plone-user =
    admin:admin

parts =
    constraints
    instance
    zopescripts
    zopepy
    packages
    releaser
    z3c_checkversions
    ploneversioncheck
    dependencies
    zodbupdate


[buildout:windows]
# no plone.releaser under Windows, because its dependency pywin32-ctypes fails to install
parts -=
    releaser

# no pdbpp under Windows because buildout fails
devtool-eggs -=
    pdbpp


[instance]
recipe = plone.recipe.zope2instance
user = ${buildout:plone-user}
eggs =
    Plone
    ${buildout:custom-eggs}
    ${buildout:devtool-eggs}
# zeo-client = on
# zeo-address = 8100
# shared-blob = on
environment-vars =
    zope_i18n_compile_mo_files true


[zopescripts]
# generates the Zope and WSGI specific scripts
recipe = zc.recipe.egg
eggs =
    Zope
    Paste
    Plone
    ${buildout:custom-eggs}
    ${buildout:devtool-eggs}


[zopepy]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
interpreter = zopepy
scripts =
    zopepy
    plone-compile-resources


[packages]
recipe = collective.recipe.omelette
ignore-develop = False
eggs =
    ${test:eggs}
ignores =
    roman


[releaser]
recipe = zc.recipe.egg
dependent-scripts = true
eggs =
    plone.releaser
    zest.releaser[recommended]
    zest.pocompile


[releaser:python36]
# Jenkins node 4 has trouble with Python 3.6 and non-ascii.
# You see this when generating bin/rst2html5.py, among probably others.
dependent-scripts = false


[z3c_checkversions]
# run this via bin/checkversions -l 2 versions.cfg
recipe = zc.recipe.egg
eggs = z3c.checkversions [buildout]


[ploneversioncheck]
# use after buildout run, for help: ./bin/versioncheck --help
recipe = zc.recipe.egg
eggs = plone.versioncheck


[dependencies]
recipe = zc.recipe.egg
eggs = z3c.dependencychecker

[zodbupdate]
recipe = zc.recipe.egg
eggs =
    zodbupdate
    ${instance:eggs}

[constraints]
recipe = plone.recipe.command
# Note: for various reasons this does not work in combination with plipbase.cfg.
command = ${buildout:executable} create-constraints.py
update-command = ${:command}
