[buildout]
extends =
    buildout.cfg

auto-checkout +=
    plone.folder
    plone.namedfile
    plone.app.z3cform
    plone.app.relationfield
    plone.app.textfield
    plone.dexterity
    five.grok
    plone.directives.dexterity
    plone.schemaeditor
    plone.app.dexterity
    collective.monkeypatcher
    five.grok
    plone.app.jquerytools
    plone.app.tinymce
    plone.formwidget.layout
    plone.behavior.layout
    plone.app.deco
    example.deco
    plone.registry
    plone.app.registry
    plone.tiles
    plonetheme.sunburst
    plone.rfc822
    zope.filerepresentation

[instance]
eggs +=
    example.deco
    plonetheme.sunburst

zcml +=
    plonetheme.sunburst

[sources]
#Dexterity
plone.folder                      = svn https://svn.plone.org/svn/plone/plone.folder/trunk
plone.namedfile                   = svn https://svn.plone.org/svn/plone/plone.namedfile/trunk
plone.app.z3cform                 = svn https://svn.plone.org/svn/plone/plone.app.z3cform/trunk
plone.app.relationfield           = svn https://svn.plone.org/svn/plone/plone.app.relationfield/trunk
plone.app.textfield               = svn https://svn.plone.org/svn/plone/plone.app.textfield/trunk
plone.dexterity                   = svn https://svn.plone.org/svn/plone/plone.dexterity/trunk
five.grok                         = svn http://svn.zope.org/repos/main/five.grok/trunk
plone.directives.dexterity        = svn https://svn.plone.org/svn/plone/plone.directives.dexterity/trunk
plone.schemaeditor                = svn https://svn.plone.org/svn/plone/plone.schemaeditor/trunk
plone.app.dexterity               = svn https://svn.plone.org/svn/plone/plone.app.dexterity/trunk
collective.monkeypatcher          = svn https://svn.plone.org/svn/collective/collective.monkeypatcher/trunk
five.grok                         = svn http://svn.zope.org/repos/main/five.grok/branches/zope212
plone.rfc822                      = svn https://svn.plone.org/svn/plone/plone.rfc822/trunk
zope.filerepresentation           = svn http://svn.zope.org/repos/main/zope.filerepresentation/trunk

# Deco
plone.app.jquerytools             = svn https://svn.plone.org/svn/plone/plone.app.jquerytools/trunk
plone.app.tinymce                 = svn https://svn.plone.org/svn/plone/sandbox/plone.app.tinymce/trunk
plone.formwidget.layout           = svn https://svn.plone.org/svn/plone/sandbox/plone.formwidget.layout/trunk
plone.behavior.layout             = svn https://svn.plone.org/svn/plone/sandbox/plone.behavior.layout/trunk
plone.app.deco                    = svn https://svn.plone.org/svn/plone/sandbox/plone.app.deco/trunk
example.deco                      = svn https://svn.plone.org/svn/collective/example.deco/trunk
plone.registry                    = svn https://svn.plone.org/svn/plone/plone.registry/trunk
plone.app.registry                = svn https://svn.plone.org/svn/plone/plone.app.registry/trunk
plone.tiles                       = svn https://svn.plone.org/svn/plone/plone.tiles/trunk

# Theme
plonetheme.sunburst               = svn https://svn.plone.org/svn/plone/plonetheme.sunburst/trunk

[versions]
grokcore.component = 1.7
grokcore.security = 1.2
martian = 0.10
