[buildout]
extends = buildout.cfg
parts +=
    xmltest
    xmlalltests
    coverage-report
    pylint
    pylint-test
    pyflakes
    pyflakes-test
    zptlint
    zptlint-test

# Keep a list of all locations of actual code. There's no reason to be running
# pyflakes over setup.py and the like.
package-directories = 
    src/Plone/Products/CMFPlone/
    src/Products.ATContentTypes/Products/ATContentTypes
    src/Products.ATReferenceBrowserWidget/Products/ATReferenceBrowserWidget/
    src/Products.Archetypes/Products/Archetypes/
    src/Products.CMFActionIcons/Products/CMFActionIcons/
    src/Products.CMFCore/Products/CMFCore/
    src/Products.CMFDiffTool/Products/CMFDiffTool/
    src/Products.CMFDynamicViewFTI/Products/CMFDynamicViewFTI/
    src/Products.CMFEditions/Products/CMFEditions/
    src/Products.CMFFormController/Products/CMFFormController/
    src/Products.CMFPlacefulWorkflow/Products/CMFPlacefulWorkflow/
    src/Products.CMFQuickInstallerTool/Products/CMFQuickInstallerTool/
    src/Products.CMFTestCase/Products/CMFTestCase/
    src/Products.contentmigration/Products/contentmigration/
    src/Products.ExtendedPathIndex/Products/ExtendedPathIndex/
    src/Products.GenericSetup/Products/GenericSetup/
    src/Products.i18ntestcase/Products/i18ntestcase/
    src/Products.Marshall/Products/Marshall/
    src/Products.MimetypesRegistry/Products/MimetypesRegistry/
    src/Products.PasswordResetTool/Products/PasswordResetTool/
    src/Products.PlacelessTranslationService/Products/PlacelessTranslationService/
    src/Products.PloneLanguageTool/Products/PloneLanguageTool/
    src/Products.PlonePAS/Products/PlonePAS/
    src/Products.PloneTestCase/Products/PloneTestCase/
    src/Products.PluggableAuthService/Products/PluggableAuthService/
    src/Products.PluginRegistry/Products/PluginRegistry/
    src/Products.PortalTransforms/Products/PortalTransforms/
    src/Products.ResourceRegistries/Products/ResourceRegistries/
    src/Products.statusmessages/Products/statusmessages/
    src/Products.TinyMCE/Products/TinyMCE/
    src/Products.validation/Products/validation/
    src/Products.ZopeVersionControl/Products/ZopeVersionControl/
    src/archetypes.kss/archetypes/kss/
    src/archetypes.referencebrowserwidget/src/archetypes/referencebrowserwidget/
    src/archetypes.schemaextender/archetypes/schemaextender/
    src/borg.localrole/borg/localrole/
    src/collective.monkeypatcher/collective/monkeypatcher/
    src/five.customerize/src/five/customerize/
    src/five.formlib/src/five/formlib/
    src/five.localsitemanager/src/five/localsitemanager/
    src/plone.app.blob/src/plone/app/blob/
    src/plone.app.content/plone/app/content/
    src/plone.app.contentmenu/plone/app/contentmenu/
    src/plone.app.contentrules/plone/app/contentrules/
    src/plone.app.controlpanel/plone/app/controlpanel/
    src/plone.app.customerize/plone/app/customerize/
    src/plone.app.folder/src/plone/app/folder/
    src/plone.app.form/plone/app/form/
    src/plone.app.i18n/plone/app/i18n/
    src/plone.app.imaging/src/plone/app/imaging/
    src/plone.app.iterate/plone/app/iterate/
    src/plone.app.jquerytools/plone/app/jquerytools/
    src/plone.app.kss/plone/app/kss/
    src/plone.app.layout/plone/app/layout/
    src/plone.app.locales/plone/app/locales/
    src/plone.app.linkintegrity/plone/app/linkintegrity/
    src/plone.app.openid/plone/app/openid/
    src/plone.app.portlets/plone/app/portlets/
    src/plone.app.redirector/plone/app/redirector/
    src/plone.app.upgrade/plone/app/upgrade/
    src/plone.app.users/plone/app/users/
    src/plone.app.viewletmanager/plone/app/viewletmanager/
    src/plone.app.vocabularies/plone/app/vocabularies/
    src/plone.app.workflow/plone/app/workflow/
    src/plone.browserlayer/plone/browserlayer/
    src/plone.contentrules/plone/contentrules/
    src/plone.fieldsets/plone/fieldsets/
    src/plone.folder/src/plone/folder/
    src/plone.i18n/plone/i18n/
    src/plone.indexer/plone/indexer/
    src/plone.intelligenttext/plone/intelligenttext/
    src/plone.keyring/plone/keyring/
    src/plone.locking/plone/locking/
    src/plone.memoize/plone/memoize/
    src/plone.openid/plone/openid/
    src/plone.portlets/plone/portlets/
    src/plone.portlet.collection/plone/portlet/collection/
    src/plone.portlet.static/plone/portlet/static/
    src/plone.protect/plone/protect/
    src/plone.scale/plone/scale/
    src/plone.session/plone/session/
    src/plone.stringinterp/plone/stringinterp/
    src/plone.theme/plone/theme/
    src/plonetheme.classic/plonetheme/classic/
    src/plonetheme.sunburst/plonetheme/sunburst/
    src/wicked/
    src/z3c.autoinclude/src/z3c/autoinclude/

[xmltest]
recipe = collective.xmltestreport
eggs =
    ${test:eggs}
defaults = ['--auto-color', '--auto-progress']

[xmlalltests]
recipe = plone.recipe.alltests
package-map = ${alltests:package-map}
groups = ${alltests:groups}
exclude = ${alltests:exclude}
test-script = ${buildout:bin-directory}/xmltest

[pylint]
recipe = zc.recipe.egg
eggs = logilab.pylintinstaller
extra-paths = ${instance:location}/lib/python
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]
arguments = [
    '--output-format=parseable',
    '--zope=y',
    '--reports=y',
    '--disable-msg=E0611,F0401,W0232,E1101,C0103,C0111,R0201,W0201,R0911,R0904,F0220,E1103,R0901,E0211,E0213,E1002,W0622',
    '--generated-members=objects',
    ] + sys.argv[1:]

# Disable messages:
#
# E0611: No name %r in module %r. Used when a name cannot be found in a module.
# F0401: Unable to import %r (%s). Used when pylint has been unable to import a module.
# W0232: Class has no __init__ method. Used when a class has no __init__ method, neither its parent classes.
# C0103: Invalid name "%s" (should match %s). Used when the name doesn't match the regular expression associated to its type (constant, variable, class...).
# C0111: Message Missing docstring Description Used when a module, function, class or method has no docstring. Some special methods like init don't necessary require a docstring. Explanationâ€¦
# R0201: Method could be a function
# W0201: Attribute %r defined outside __init__
# R0911: Too many return statements (%s/%s)

# E0211: Method has no argument
#        - Reason: raises an error on zope.interface definitions
# E0213 Method should have "self" as first argument
#       - Reason: raises an error on zope.interface definitions
# E1121 Too many positional arguments for function call
#       - Reason: ???
# E1002 Use super on an old style class
#       - Reason: super(CommentsViewlet, self).update() raises an error
# W0622 total_comments: Redefining built-in 'object'
#       - Reason: top level def function will not work (e.g. for catalog indexers)
# ...
# See http://pylint-messages.wikidot.com/all-messages for a full list.

[pylint-test]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    if [ -s pylint.log ]; then
      rm pylint.log
      echo "Old pylint.log file removed"
    fi
    echo "Running pylint"
    PACKAGES="${buildout:package-directories}"
    for pkg in $PACKAGES
    do
        find -L $pkg -regex ".*\.py" | xargs bin/pylint >> pylint.log
    done
    echo "Finished"
output = ${buildout:directory}/bin/pylint-test
mode = 755

[zptlint]
recipe = zc.recipe.egg
eggs =
   zptlint
entry-points = zptlint=zptlint:run

[zptlint-test]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    if [ -e zptlint.log ]; then
      echo "Old zptlint.log file removed"
      rm zptlint.log
    fi
    echo "Running zptlint-test"
    PACKAGES="${buildout:package-directories}"
    for pkg in $PACKAGES
    do
        find $pkg -regex ".*\.[c|z]?pt" | xargs -r bin/zptlint | perl -p -e 's/\s+$/ /g;s/\s+/ /g;s/\*{3}s?/\n/g' >> zptlint.log
    done
output = ${buildout:directory}/bin/zptlint-test
mode = 755

[pyflakes]
recipe = zc.recipe.egg
eggs =
   pyflakes
entry-points = pyflakes=pyflakes.scripts.pyflakes:main

[pyflakes-test]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    if [ -s pyflakes.log ]; then
      rm pyflakes.log
      echo "Old pyflakes.log file removed"
    fi
    echo "Running pyflakes"
    PACKAGES="${buildout:package-directories}"
    for pkg in $PACKAGES
    do
        find -L $pkg -regex ".*\.py" | xargs -r bin/pyflakes >> pyflakes.log
    done
output = ${buildout:directory}/bin/pyflakes-test
mode = 755

[ohcount]
# Requires that ohcount be installed on the server.
# See http://pypi.python.org/pypi/ohconvert for more.
recipe = zc.recipe.egg
eggs = ohconvert

[ohcount-test]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    if [ -s sloccount.sc ]; then
      rm sloccount.sc
      echo "Old sloccount.sc file removed"
    fi
    echo "Running ohcount"
    PACKAGES="${buildout:package-directories}"
    for pkg in $PACKAGES
    do
        bin/ohconvert $pkg >> sloccount.sc
    done
output = ${buildout:directory}/bin/ohcount-test
mode = 755
