# ----------------------------------------------------------------------------
# BUILDOUT FOR JENKINS.PLONE.ORG
# ----------------------------------------------------------------------------
# Buildout to control (push, pull, trigger) Jenkins jobs on jenkins.plone.org.
#
# Create a jenkins.plone.org.auth.cfg file with your jenkins.plone.org
# credentials:
#
#   [buildout]
#   jenkins-username = chuck
#   jenkins-password = norris
#
# Then run buildout with:
#
#   $ bin/buildout -c jenkins.plone.org.cfg
#
# Now you can pull the three coredev jobs:
#
#   $ bin/jenkins-job-pull
#   $ bin/jenkins-job-test-pull
#   $ bin/jenkins-job-code-analysis-pull
#
# Push new job configurations:
#
#   $ bin/jenkins-job-push
#   $ bin/jenkins-job-test-push
#   $ bin/jenkins-job-code-analysis-push
#
# Trigger jobs:
#
#   $ bin/jenkins-job-trigger
#   $ bin/jenkins-job-test-trigger
#   $ bin/jenkins-job-code-analysis-trigger
#
# See https://github.com/collective/collective.recipe.jenkinsjob for more
# details.
# ----------------------------------------------------------------------------
[buildout]
extends =
    jenkins.plone.org.auth.cfg
parts =
    jenkins-job
    jenkins-job-test
    jenkins-job-code-analysis

# ----------------------------------------------------------------------------
# JENKINS REMOTE JOBS
# ----------------------------------------------------------------------------
[jenkins-job]
recipe = collective.recipe.jenkinsjob
hostname = https://jenkins.plone.org
port = 80
username = ${buildout:jenkins-username}
password = ${buildout:jenkins-password}
jobname = Plone_4.2
jobconfig = jenkins.plone.org/jenkins.xml

[jenkins-job-test]
<= jenkins-job
jobname = Plone_4.2_Tests
jobconfig = jenkins.plone.org/jenkins-test.xml

[jenkins-job-code-analysis]
<= jenkins-job
jobname = Plone_4.2_Static_Code_Analysis
jobconfig = jenkins.plone.org/jenkins-code-analysis.xml