# ----------------------------------------------------------------------------
# JENKINS BUILDOUT FOR PLONE COREDEV
# ----------------------------------------------------------------------------
# Jenkins buildout to run tests and code coverage for buildout.coredev on
# the jenkins.plone.org CI server.
#
#   $ bin/buildout
#   $ bin/jenkins-alltests
#   $ bin/jenkins-test-coverage
#   $ bin/jenkins-code-analysis
#
# See https://github.com/plone/buildout.jenkins for more details.
# ----------------------------------------------------------------------------
[buildout]
extends =
    core.cfg
    https://raw.github.com/plone/buildout.jenkins/master/jenkins.cfg
always-accept-server-certificate = true
parts -=
    instance
    packages
    test
    alltests
    alltests-at
parts +=
    jenkins-alltests
    jenkins-alltests-at
    package-in-auto-checkout
jenkins-test-eggs = ${buildout:test-eggs}

[jenkins-alltests]
<= alltests-base
recipe = plone.recipe.alltests
test-script = ${buildout:bin-directory}/jenkins-test

[jenkins-test-env]
zope_i18n_compile_mo_files = true
BUILDOUT_DIR = ${buildout:directory}
ROBOTSUITE_APPEND_OUTPUT_XML = 1
ROBOTSUITE_LOGLEVEL = ERROR

[jenkins-alltests-at]
<= alltests-at-base
recipe = plone.recipe.alltests
test-script = ${buildout:bin-directory}/jenkins-test

[releaser]
eggs += esteele.manager
        check-manifest

[package-in-auto-checkout]
recipe = collective.recipe.template
input = inline:
  #!/bin/sh
  if grep $1 ${buildout:directory}/checkouts.cfg > /dev/null
  then
      echo "Package $1 found in checkouts.cfg"
  else
      echo "Package $1 not found in checkouts.cfg"
      echo "FAIL BUILD"
  fi
output = ${buildout:directory}/bin/package-in-auto-checkout
mode = 755
