[buildout]
extends = core.cfg
eggs += tl.eggdeps
auto-checkout = *
parts += jenkins-package-dependencies

[jenkins-package-dependencies]
recipe = collective.recipe.template
input = inline:
  #!/bin/sh
  ${buildout:directory}/bin/eggdeps --no-extras -i apparmor -i apt-xapian-index -i argparse -i chardet -i command-not-found -i defer -i distribute -i setuptools -i gnupginterface -i iotop -i language-selector -i mercurial -i pep8 -i pil > package-dependencies.txt
output = ${buildout:directory}/bin/jenkins-package-dependencies
mode = 755
