# -------------------------
# Running Plone on Python 3
# -------------------------
#
# This config `py3.cfg` removes the Arcetypes-dependecies that will not be
# ported to python3. In your own projects you could add a similar effect by
# depending only on `Products.CMFPlone` instead of `Plone`.
#
# The config depends on `wsgi.cfg` for wsgi-support and adds checkouts and
# branches with python3 compatability that is work-in progress.
#
# It also removes a lot of parts that either break at the moment or are not
# necessary before startup works.
#
#
# Clone coredev and use branch 5.2::
#
#     $ git clone git@github.com:plone/buildout.coredev.git coredev_py3
#     $ cd coredev_py3
#     $ git checkout 5.2
#
# Create py3 virtualenv::
#
#     $ python3.6 -m venv .
#
# Install buildout::
#
#     $ ./bin/pip install -r requirements.txt
#
# Run buildout::
#
#     $ ./bin/buildout -c py3.cfg
#
# Start Plone::
#
#     $ ./bin/wsgi.py
#
# Startup will fail since a lot of code is not python3-compatible yet.
#
# Frequent errors include:
#
# - relative imports
# - FTP or WebDAV
# - use of ZSERVER (medusa)
#
#
# You could also use a wsgi-server and run Plone with that.
# But it makes little sense before the startup actually works because it
# only takes longer before you get a traceback.
#
# Install uWSGI and start Plone with it::
#
#     $ ./bin/pip install uwsgi
#     $ ./bin/uwsgi --ini etc/uwsgi.ini
#
# Install waitress and start Plone with it::
#
#     $ ./bin/pip install waitress
#     $ ./bin/waitress-serve --listen=0.0.0.0:8080 wsgi:application
#



[buildout]
extends = wsgi.cfg

eggs +=
    pdbpp
#    Products.PDBDebugMode

eggs -=
    ZServer
    Products.Archetypes
    Products.ATContentTypes
    plone.app.blob
    plone.app.collection
    plone.app.imaging
    Products.Archetypes


parts -=
    zopepy
    test
    robot
    alltests
    alltests-at
    releaser
    themepreview
    plone_versioncheck
    z3c_checkversions


auto-checkout +=
    Products.PDBDebugMode
    plone.rfc822
    Products.CMFPlone
    Products.MimetypesRegistry
    Products.ResourceRegistries
    Products.CMFQuickInstallerTool
    plone.testing
    plone.z3cform
    plone.protect
    plone.subrequest
    Products.GenericSetup
    Products.PluginRegistry
    Products.CMFFormController
    Products.ZopeVersionControl
    Products.PluggableAuthService
    Products.SiteErrorLog
    Products.TemporaryFolder
    Products.Sessions
    Products.ResourceRegistries
    plone.app.textfield
    plone.app.layout
    plone.app.portlets
    plone.app.registry
    plone.app.contenttypes
    plone.folder
    plone.transformchain
    plone.app.relationfield
    plone.app.linkintegrity
    plone.app.dexterity
    plone.app.content
    plone.dexterity
    plone.subrequest
    plone.app.z3cform
    plone.app.discussion
    five.customerize

extensions -=
    plone.versioncheck

[instance]
debug-mode = on
verbose-security = on

[sources]
Products.CMFPlone             = git ${remotes:plone}/Products.CMFPlone.git              pushurl=${remotes:plone_push}/Products.CMFPlone.git             branch=python3
Products.PDBDebugMode         = git ${remotes:collective}/Products.PDBDebugMode.git     pushurl=${remotes:collective_push}/Products.PDBDebugMode.git    branch=zope4
plone.rfc822                  = git ${remotes:plone}/plone.rfc822.git                   pushurl=${remotes:plone_push}/plone.rfc822.git                  branch=python3
plone.testing                 = git ${remotes:plone}/plone.testing.git                  pushurl=${remotes:plone_push}/plone.testing.git                 branch=py3_imports
plone.protect                 = git ${remotes:plone}/plone.protect.git                  pushurl=${remotes:plone_push}/plone.protect.git                 branch=python3
Products.MimetypesRegistry    = git ${remotes:plone}/Products.MimetypesRegistry.git     pushurl=${remotes:plone_push}/Products.MimetypesRegistry.git    branch=python3
Products.GenericSetup         = git ${remotes:zope}/Products.GenericSetup.git           pushurl=${remotes:zope_push}/Products.GenericSetup.git          branch=davisagli-py3
Products.CMFFormController    = git ${remotes:plone}/Products.CMFFormController.git     pushurl=${remotes:plone_push}/Products.CMFFormController.git    branch=py3_imports
Products.ZopeVersionControl   = git ${remotes:zope}/Products.ZopeVersionControl.git     pushurl=${remotes:zope_push}/Products.ZopeVersionControl.git    branch=py3_imports
Products.PluggableAuthService = git ${remotes:zope}/Products.PluggableAuthService.git   pushurl=${remotes:zope_push}/Products.PluggableAuthService.git  branch=python3
Products.SiteErrorLog         = git ${remotes:zope}/Products.SiteErrorLog.git           pushurl=${remotes:zope_push}/Products.SiteErrorLog.git          branch=python3
# PR: https://github.com/plone/Products.CMFQuickInstallerTool/pull/19
Products.CMFQuickInstallerTool= git ${remotes:zope}/Products.CMFQuickInstallerTool.git  pushurl=${remotes:zope_push}/Products.CMFQuickInstallerTool.git branch=fix_relative_imports
# PR: https://github.com/plone/Products.PlonePAS/pull/30
Products.PlonePAS             = git ${remotes:plone}/Products.PlonePAS.git              pushurl=${remotes:plone_push}/Products.PlonePAS.git             branch=python3

# not in sources.cfg
Products.TemporaryFolder      = git ${remotes:zope}/Products.TemporaryFolder.git        pushurl=${remotes:zope_push}/Products.TemporaryFolder.git       branch=master
Products.Sessions             = git ${remotes:zope}/Products.Sessions.git               pushurl=${remotes:zope_push}/Products.Sessions.git              branch=python3

Products.ResourceRegistries   = git ${remotes:plone}/Products.ResourceRegistries.git    pushurl=${remotes:zope_push}/Products.ResourceRegistries.git    branch=python3
plone.subrequest              = git ${remotes:plone}/plone.subrequest.git               pushurl=${remotes:plone_push}/plone.subrequest.git              branch=zope4
plone.app.textfield           = git ${remotes:plone}/plone.app.textfield.git            pushurl=${remotes:plone_push}/plone.app.textfield.git           branch=python3
plone.app.z3cform             = git ${remotes:plone}/plone.app.z3cform.git              pushurl=${remotes:plone_push}/plone.app.z3cform.git             branch=python3
plone.app.layout              = git ${remotes:plone}/plone.app.layout.git               pushurl=${remotes:plone_push}/plone.app.layout.git              branch=python3
plone.app.portlets            = git ${remotes:plone}/plone.app.portlets.git             pushurl=${remotes:plone_push}/plone.app.portlets.git            branch=python3
plone.app.registry            = git ${remotes:plone}/plone.app.registry.git             pushurl=${remotes:plone_push}/plone.app.registry.git            branch=python3
plone.app.contenttypes        = git ${remotes:plone}/plone.app.contenttypes.git         pushurl=${remotes:plone_push}/plone.app.contenttypes.git        branch=fix_relative_import
plone.folder                  = git ${remotes:plone}/plone.folder.git                   pushurl=${remotes:plone_push}/plone.folder.git                  branch=zserver
plone.transformchain          = git ${remotes:plone}/plone.transformchain.git           pushurl=${remotes:plone_push}/plone.transformchain.git          branch=python3
plone.app.relationfield       = git ${remotes:plone}/plone.app.relationfield.git        pushurl=${remotes:plone_push}/plone.app.relationfield.git       branch=python3
plone.app.linkintegrity       = git ${remotes:plone}/plone.app.linkintegrity.git        pushurl=${remotes:plone_push}/plone.app.linkintegrity.git       branch=python3
plone.app.dexterity           = git ${remotes:plone}/plone.app.dexterity.git            pushurl=${remotes:plone_push}/plone.app.dexterity.git           branch=python3
plone.app.content             = git ${remotes:plone}/plone.app.content.git              pushurl=${remotes:plone_push}/plone.app.content.git             branch=python3
plone.dexterity               = git ${remotes:plone}/plone.dexterity.git                pushurl=${remotes:plone_push}/plone.dexterity.git               branch=zserver
plone.subrequest              = git ${remotes:plone}/plone.subrequest.git               pushurl=${remotes:plone_push}/plone.subrequest.git              branch=zserver
plone.z3cform                 = git ${remotes:zope}/plone.z3cform.git                   pushurl=${remotes:zope_push}/plone.z3cform.git                  branch=python3
plone.app.discussion          = git ${remotes:plone}/plone.app.discussion.git           pushurl=${remotes:plone_push}/plone.app.discussion.git          branch=python3
# PR: https://github.com/zopefoundation/five.customerize/pull/4
five.customerize              = git ${remotes:zope}/five.customerize.git                pushurl=${remotes:zope_push}/five.customerize.git               branch=fix-deprectations

[versions]
zc.buildout = 2.11.1
setuptools = 38.5.2
robotframework-selenium2library = 3.0.0
