[buildout]
extensions = mr.developer
parts += plonesite robot selenium library-settings
extends = buildout.cfg
find-links = http://packages.affinitic.be/simple
versions = versions
allow-hosts += *.affinitic.be

auto-checkout += robotframework-seleniumlibrary

[versions]
robotframework = 2.6.2-st
collective.recipe.plonesite = 1.5

[sources]
robotframework-seleniumlibrary = hg https://gotcha-mouse-at-commands.googlecode.com/hg/gotcha-mouse-at-commands 
#collective.recipe.seleniumrc = svn https://svn.plone.org/svn/collective/buildout/collective.recipe.seleniumrc/trunk
#collective.recipe.plonesite = svn https://svn.plone.org/svn/collective/buildout/collective.recipe.plonesite/trunk

[plonesite]
recipe = collective.recipe.plonesite
instance = instance
site-id = Plone

[robot]
recipe = zc.recipe.egg
eggs = robotframework
       robotframework-seleniumlibrary

[selenium]
recipe = hexagonit.recipe.download
download-only = true
url = http://selenium.googlecode.com/files/selenium-server-standalone-2.11.0.jar
filename = selenium-server.jar

[library-settings]
recipe = collective.recipe.template
input = templates/library-settings.txt.in
output = ${buildout:directory}/acceptance-tests/library-settings.txt
