[buildout]
extends = buildout.cfg
# parts += manage
auto-checkout += esteele.manager
eggs += esteele.manager
        pdbpp
        zest.pocompile
        Products.PrintingMailhost

[manage]
recipe = zc.recipe.egg
eggs =  esteele.manager

[sources]
esteele.manager =  git git@github.com:plone/esteele.manager.git

[alltests]
exclude +=
    GitPython
    PyGithub
    argparse
    configparser
    keyring

[releaser]
eggs += esteele.manager
        check-manifest
