###############################################################################
# mxdev combined constraints
-c constraints.txt


###############################################################################
# mxdev development sources
-e ./src/Plone --install-option="--pre"

###############################################################################
# begin requirements from: requirements-plone.txt

# Used by mxdev.ini.
# We may create a separate requirements-tools.txt.
# We have a single requirement:
# Plone -> mxdev disabled (source)

# Then the upstream constraints from Zope.
# There are a few ways.
# -c https://raw.githubusercontent.com/zopefoundation/Zope/master/constraints.txt
# -c src/Zope/constraints.txt

# Then our own constraints.
# Maybe start with the previous release.
# -c release/constraints.txt
# -c constraints-extra.txt
# -c constraints-ecosystem.txt
# -c constraints-core.txt

# end requirements from: requirements-plone.txt
###############################################################################
