setuptools==54.0.0
zc.buildout==2.13.3
wheel

# Windows specific down here (has to be installed here, fails in buildout)
# Dependency of zope.sendmail:
pywin32 ; platform_system == 'Windows'
# SSL Certs on windows, because Python is missing them otherwise:
certifi ; platform_system == 'Windows'

