pip==23.0.1
setuptools==67.6.1
wheel==0.40.0
zc.buildout==3.0.1

# Windows specific down here (has to be installed here, fails in buildout)
# Dependency of zope.sendmail:
pywin32 ; platform_system == 'Windows'

# SSL Certs on windows, because Python is missing them otherwise:
certifi ; platform_system == 'Windows'
