###############################################################################
# mxdev combined constraints
-c constraints.txt


###############################################################################
# mxdev development sources
-e ./src/plone.app.dexterity --install-option="--pre"
-e ./src/plone.app.locales --install-option="--pre"
-e ./src/plone.app.textfield --install-option="--pre"
-e ./src/plone.app.upgrade --install-option="--pre"
-e ./src/plone.base --install-option="--pre"
-e ./src/plone.batching --install-option="--pre"
-e ./src/plone.dexterity --install-option="--pre"
-e ./src/plone.keyring --install-option="--pre"
-e ./src/plone.locking --install-option="--pre"
-e ./src/plone.rest --install-option="--pre"
-e ./src/plone.restapi --install-option="--pre"
-e ./src/plone.schemaeditor --install-option="--pre"
-e ./src/plone.session --install-option="--pre"
-e ./src/plone.subrequest --install-option="--pre"
-e ./src/plone.supermodel --install-option="--pre"

###############################################################################
# begin requirements from: requirements-plone.txt

# Used by mxdev.ini.
# We may create a separate requirements-tools.txt.
# We have a single requirement:
Plone

# Then the upstream constraints from Zope.
# There are a few ways.
# -c https://raw.githubusercontent.com/zopefoundation/Zope/master/constraints.txt
# -c src/Zope/constraints.txt

# Then our own constraints.
# Maybe start with the previous release.
# -c https://dist.plone.org/release/6.0.1/constraints.txt
# -c constraints-extra.txt
# -c constraints-ecosystem.txt
# -c constraints-core.txt
# could have one with only the plone.base dependencies

# end requirements from: requirements-plone.txt
###############################################################################
