# With pip>=22.2, buildout fails to check the python-requires of a package,
# so you may get incompatible versions.
# See https://github.com/buildout/buildout/issues/613
# So we pin an older one.
pip==22.1.2
setuptools==65.4.1
wheel==0.37.1
zc.buildout==3.0.0rc3

# Windows specific down here (has to be installed here, fails in buildout)
# Dependency of zope.sendmail:
pywin32 ; platform_system == 'Windows'

# SSL Certs on windows, because Python is missing them otherwise:
certifi ; platform_system == 'Windows'
