# auto-checkout has moved to checkouts.cfg so it's easier to extend sources.cfg

[remotes]
# (Repository locations)
########################

plone = git://github.com/plone
svn_plone = https://svn.plone.org/svn/plone
collective = git://github.com/collective
svn_collective = https://svn.plone.org/svn/collective
svn_archetypes = https://svn.plone.org/svn/archetypes
zope = http://svn.zope.org/repos/main


[sources]
Zope2                               = svn ${remotes:zope}/Zope/branches/2.13
ZODB3                               = svn ${remotes:zope}/ZODB/branches/3.10
Plone                               = svn ${remotes:svn_plone}/Plone/branches/4.1
archetypes.kss                      = git ${remotes:plone}/archetypes.kss.git
archetypes.referencebrowserwidget   = git ${remotes:plone}/archetypes.referencebrowserwidget.git
archetypes.schemaextender           = svn ${remotes:svn_archetypes}/archetypes.schemaextender/trunk
borg.localrole                      = git ${remotes:plone}/borg.localrole.git
collective.monkeypatcher            = git ${remotes:plone}/collective.monkeypatcher.git
five.customerize                    = svn ${remotes:zope}/five.customerize/trunk
five.formlib                        = svn ${remotes:zope}/five.formlib/trunk
five.localsitemanager               = svn ${remotes:zope}/five.localsitemanager/trunk
kss.core                            = svn ${remotes:svn_collective}/kukit/kss.core/trunk
kss.demo                            = svn ${remotes:svn_collective}/kukit/kss.demo/trunk
plone.autoform                      = git ${remotes:plone}/plone.autoform.git
plone.browserlayer                  = svn ${remotes:svn_plone}/plone.browserlayer/trunk
plone.caching                       = git ${remotes:plone}/plone.caching.git
plone.cachepurging                  = svn ${remotes:svn_plone}/plone.cachepurging/trunk/
plone.contentrules                  = svn ${remotes:svn_plone}/plone.contentrules/trunk
plone.fieldsets                     = git ${remotes:plone}/plone.fieldsets.git
plone.folder                        = git ${remotes:plone}/plone.folder.git
plone.i18n                          = svn ${remotes:svn_plone}/plone.i18n/trunk
plone.indexer                       = git ${remotes:plone}/plone.indexer.git
plone.intelligenttext               = git ${remotes:plone}/plone.intelligenttext.git
plone.keyring                       = git ${remotes:plone}/plone.keyring.git
plone.locking                       = git ${remotes:plone}/plone.locking.git
plone.memoize                       = svn ${remotes:svn_plone}/plone.memoize/trunk
plone.openid                        = git ${remotes:plone}/plone.openid.git
plone.outputfilters                 = git ${remotes:plone}/plone.outputfilters.git
plone.portlets                      = svn ${remotes:svn_plone}/plone.portlets/trunk
plone.protect                       = git ${remotes:plone}/plone.protect.git
plone.registry                      = git ${remotes:plone}/plone.registry.git
plone.reload                        = git https://github.com/hannosch/plone.reload
plone.scale                         = git ${remotes:plone}/plone.scale.git
plone.session                       = svn ${remotes:svn_plone}/plone.session/trunk
plone.stringinterp                  = git ${remotes:plone}/plone.stringinterp.git
plone.supermodel                    = git ${remotes:plone}/plone.supermodel.git
plone.testing                       = git ${remotes:plone}/plone.testing.git
plone.theme                         = svn ${remotes:svn_plone}/plone.theme/trunk
plone.transformchain                = git ${remotes:plone}/plone.transformchain.git
plone.uuid                          = git ${remotes:svn_plone}/plone.uuid.git
plone.z3cform                       = svn ${remotes:zope}/plone.z3cform/trunk
plone.app.blob                      = svn ${remotes:svn_plone}/plone.app.blob/trunk
plone.app.caching                   = svn ${remotes:svn_plone}/plone.app.caching/trunk/
plone.app.content                   = git ${remotes:plone}/plone.app.content.git
plone.app.contentmenu               = git ${remotes:plone}/plone.app.contentmenu.git
plone.app.contentrules              = svn ${remotes:svn_plone}/plone.app.contentrules/trunk
plone.app.controlpanel              = svn ${remotes:svn_plone}/plone.app.controlpanel/branches/2.1
plone.app.customerize               = svn ${remotes:svn_plone}/plone.app.customerize/trunk
plone.app.discussion                = svn ${remotes:svn_plone}/plone.app.discussion/branches/2.0.x
plone.app.folder                    = git${remotes:plone}/plone.app.folder.git
plone.app.form                      = git ${remotes:plone}/plone.app.form.git
plone.app.i18n                      = git ${remotes:plone}/plone.app.i18n.git
plone.app.imaging                   = git ${remotes:plone}/plone.app.imaging.git
plone.app.iterate                   = git ${remotes:plone}/plone.app.iterate.git
plone.app.jquerytools               = git ${remotes:plone}/plone.app.jquerytools.git
plone.app.kss                       = svn ${remotes:svn_plone}/plone.app.kss/branches/1.6
plone.app.layout                    = svn ${remotes:svn_plone}/plone.app.layout/branches/2.1
plone.app.linkintegrity             = git ${remotes:plone}/plone.app.linkintegrity.git
plone.app.locales                   = svn ${remotes:svn_plone}/plone.app.locales/trunk
plone.app.openid                    = git ${remotes:plone}/plone.app.openid.git
plone.app.portlets                  = svn ${remotes:svn_plone}/plone.app.portlets/branches/2.1
plone.app.redirector                = git ${remotes:plone}/plone.app.redirector.git
plone.app.registry                  = git ${remotes:plone}/plone.app.registry.git
plone.app.testing                   = svn ${remotes:svn_plone}/plone.app.testing/trunk
plone.app.upgrade                   = svn ${remotes:svn_plone}/plone.app.upgrade/branches/1.1
plone.app.users                     = svn ${remotes:svn_plone}/plone.app.users/trunk
plone.app.uuid                      = git ${remotes:plone}/plone.app.uuid.git
plone.app.viewletmanager            = svn ${remotes:svn_plone}/plone.app.viewletmanager/trunk
plone.app.vocabularies              = svn ${remotes:svn_plone}/plone.app.vocabularies/trunk
plone.app.workflow                  = svn ${remotes:svn_plone}/plone.app.workflow/trunk
plone.app.z3cform                   = git ${remotes:svn_plone}/plone.app.z3cform.git
plone.portlet.collection            = git ${remotes:plone}/plone.portlet.collection.git
plone.portlet.static                = git ${remotes:plone}/plone.portlet.static.git
plone.recipe.alltests               = git ${remotes:collective}/plone.recipe.alltests.git
plone.recipe.zope2instance          = git ${remotes:plone}/plone.recipe.zope2instance.git
plone.recipe.zeoserver              = git ${remotes:plone}/plone.recipe.zeoserver.git
plonetheme.sunburst                 = svn ${remotes:svn_plone}/plonetheme.sunburst/branches/1.1
plonetheme.classic                  = svn ${remotes:svn_plone}/plonetheme.classic/branches/1.1
txtfilter                           = svn ${remotes:svn_collective}/txtfilter/trunk
wicked                              = svn ${remotes:svn_collective}/wicked/trunk
z3c.autoinclude                     = svn ${remotes:zope}/z3c.autoinclude/trunk
z3c.form                            = svn ${remotes:zope}/z3c.form/trunk/

# Products
Products.Archetypes                 = svn ${remotes:svn_archetypes}/Products.Archetypes/trunk
Products.ATContentTypes             = svn ${remotes:svn_collective}/Products.ATContentTypes/trunk
Products.ATReferenceBrowserWidget   = svn ${remotes:svn_archetypes}/MoreFieldsAndWidgets/ATReferenceBrowserWidget/trunk
Products.CMFActionIcons             = svn ${remotes:zope}/Products.CMFActionIcons/branches/2.1
Products.CMFCalendar                = svn ${remotes:zope}/Products.CMFCalendar/branches/2.2
Products.CMFCore                    = svn ${remotes:zope}/Products.CMFCore/branches/2.2
Products.CMFDefault                 = svn ${remotes:zope}/Products.CMFDefault/branches/2.2
Products.CMFDiffTool                = svn ${remotes:svn_collective}/Products.CMFDiffTool/trunk
Products.CMFDynamicViewFTI          = svn ${remotes:svn_collective}/CMFDynamicViewFTI/trunk
Products.CMFEditions                = svn ${remotes:svn_collective}/Products.CMFEditions/branches/2.1
Products.CMFFormController          = svn ${remotes:svn_collective}/CMFFormController/trunk
Products.CMFPlacefulWorkflow        = svn ${remotes:svn_collective}/Products.CMFPlacefulWorkflow/trunk
Products.CMFPlone                   = svn ${remotes:svn_plone}/Products.CMFPlone/branches/4.1
Products.CMFQuickInstallerTool      = svn ${remotes:svn_collective}/CMFQuickInstallerTool/trunk
Products.CMFTestCase                = svn ${remotes:svn_collective}/Products.CMFTestCase/trunk
Products.CMFTopic                   = svn ${remotes:zope}/Products.CMFTopic/branches/2.2
Products.CMFUid                     = svn ${remotes:zope}/Products.CMFUid/branches/2.2
Products.contentmigration           = svn ${remotes:svn_collective}/Products.contentmigration/trunk
Products.DCWorkflow                 = svn ${remotes:zope}/Products.DCWorkflow/branches/2.2
Products.ExtendedPathIndex          = svn ${remotes:svn_plone}/Products.ExtendedPathIndex/branches/2.x
Products.ExternalEditor             = svn ${remotes:zope}/Products.ExternalEditor/trunk
Products.GenericSetup               = svn ${remotes:zope}/Products.GenericSetup/trunk
Products.GroupUserFolder            = svn ${remotes:svn_collective}/Products.GroupUserFolder/trunk
Products.i18ntestcase               = svn ${remotes:svn_collective}/Products.i18ntestcase/trunk
Products.kupu                       = svn ${remotes:svn_collective}/kupu/trunk/Products.kupu
Products.LinguaPlone                = svn ${remotes:svn_plone}/Products.LinguaPlone/trunk
Products.Marshall                   = git ${remotes:plone}/Products.Marshall.git
Products.MimetypesRegistry          = svn ${remotes:svn_archetypes}/Products.MimetypesRegistry/trunk
Products.PasswordResetTool          = git ${remotes:plone}/Products.PasswordResetTool.git
Products.PlacelessTranslationService= svn ${remotes:svn_collective}/PlacelessTranslationService/trunk
Products.PloneLanguageTool          = svn ${remotes:svn_collective}/PloneLanguageTool/trunk
Products.PlonePAS                   = git ${remotes:plone}/Products.PlonePAS.git
Products.PloneTestCase              = svn ${remotes:svn_collective}/Products.PloneTestCase/trunk
Products.PluggableAuthService       = svn ${remotes:zope}/Products.PluggableAuthService/trunk
Products.PluginRegistry             = svn ${remotes:zope}/Products.PluginRegistry/trunk
Products.PortalTransforms           = svn ${remotes:svn_archetypes}/Products.PortalTransforms/trunk
Products.ResourceRegistries         = svn ${remotes:svn_plone}/ResourceRegistries/branches/2.0
Products.SecureMailHost             = svn ${remotes:svn_collective}/SecureMailHost/branches/1.1
Products.statusmessages             = svn ${remotes:svn_collective}/statusmessages/trunk
Products.TinyMCE                    = svn ${remotes:svn_collective}/Products.TinyMCE/trunk
Products.validation                 = svn ${remotes:svn_archetypes}/Products.validation/trunk
Products.ZCatalog                   = svn ${remotes:zope}/Products.ZCatalog/trunk
Products.ZopeVersionControl         = svn ${remotes:zope}/Products.ZopeVersionControl/trunk
