[buildout]
extends =
    buildout.cfg

eggs +=
    diazotheme.startup
    diazotheme.frameworks
    diazotheme.bootswatch

#    diazotheme.bootstrap
#    diazotheme.default
#    diazotheme.initializr
#    diazotheme.foundation
#    diazotheme.responsify
#    diazotheme.goldilocks

auto-checkout +=
    diazotheme.startup
    diazotheme.frameworks
    diazotheme.bootswatch

#    diazotheme.bootstrap
#    diazotheme.default
#    diazotheme.initializr
#    diazotheme.foundation
#    diazotheme.responsify
#    diazotheme.goldilocks


[remotes]
# (Repository locations)
########################

# TH-code
th_code = git://github.com/TH-code
th_code_push = git@github.com:TH-code

[sources]
diazotheme.startup          = git ${remotes:th_code}/diazotheme.startup.git pushurl=${remotes:th_code_push}/diazotheme.startup.git
diazotheme.frameworks       = git ${remotes:th_code}/diazotheme.frameworks.git pushurl=${remotes:th_code_push}/diazotheme.frameworks.git
diazotheme.bootswatch       = git ${remotes:th_code}/diazotheme.bootswatch.git pushurl=${remotes:th_code_push}/diazotheme.bootswatch.git

#diazotheme.startup          = git ${remotes:collective}/diazotheme.startup.git pushurl=${remotes:collective_push}/diazotheme.startup.git
#diazotheme.frameworks       = git ${remotes:collective}/diazotheme.frameworks.git pushurl=${remotes:collective_push}/diazotheme.frameworks.git
#diazotheme.bootswatch       = git ${remotes:collective}/diazotheme.bootswatch.git pushurl=${remotes:collective_push}/diazotheme.bootswatch.git

#diazotheme.bootstrap        = git ${remotes:th_code}/diazotheme.bootstrap.git pushurl=${remotes:th_code_push}/diazotheme.bootstrap.git
#diazotheme.default          = git ${remotes:th_code}/diazotheme.default.git pushurl=${remotes:th_code_push}/diazotheme.default.git
#diazotheme.initializr       = git ${remotes:th_code}/diazotheme.initializr.git pushurl=${remotes:th_code_push}/diazotheme.initializr.git
#diazotheme.foundation       = git ${remotes:th_code}/diazotheme.foundation.git pushurl=${remotes:th_code_push}/diazotheme.foundation.git
#diazotheme.responsify       = git ${remotes:th_code}/diazotheme.responsify.git pushurl=${remotes:th_code_push}/diazotheme.responsify.git
#diazotheme.goldilocks       = git ${remotes:th_code}/diazotheme.goldilocks.git pushurl=${remotes:th_code_push}/diazotheme.goldilocks.git
