[buildout]
extends =
    buildout.cfg

eggs +=
    diazotheme.startup
    diazotheme.framework.amazium
    diazotheme.framework.baseline
    diazotheme.framework.bootstrap
    diazotheme.framework.foundation
    diazotheme.framework.goldilocks
    diazotheme.framework.groundwork
    diazotheme.framework.gumby
    diazotheme.framework.ivory
    diazotheme.framework.kube
    diazotheme.framework.metro
    diazotheme.framework.plone
    diazotheme.framework.skeleton
    diazotheme.framework.wirefy
    diazotheme.framework.yaml4
    diazotheme.frameworks
    diazotheme.bootswatch

#    diazotheme.bootstrap
#    diazotheme.default
#    diazotheme.initializr
#    diazotheme.foundation
#    diazotheme.responsify
#    diazotheme.goldilocks

auto-checkout +=
    diazotheme.startup
    diazotheme.framework.amazium
    diazotheme.framework.baseline
    diazotheme.framework.bootstrap
    diazotheme.framework.foundation
    diazotheme.framework.goldilocks
    diazotheme.framework.groundwork
    diazotheme.framework.gumby
    diazotheme.framework.ivory
    diazotheme.framework.kube
    diazotheme.framework.metro
    diazotheme.framework.plone
    diazotheme.framework.skeleton
    diazotheme.framework.wirefy
    diazotheme.framework.yaml4
    diazotheme.frameworks
    diazotheme.bootswatch

#    diazotheme.bootstrap
#    diazotheme.default
#    diazotheme.initializr
#    diazotheme.foundation
#    diazotheme.responsify
#    diazotheme.goldilocks


[remotes]
# (Repository locations)
########################

# TH-code
th_code = git://github.com/TH-code
th_code_push = git@github.com:TH-code

[sources]
diazotheme.startup              = git ${remotes:th_code}/diazotheme.startup.git pushurl=${remotes:th_code_push}/diazotheme.startup.git
diazotheme.framework.amazium    = git ${remotes:th_code}/diazotheme.framework.amazium.git pushurl=${remotes:th_code_push}/diazotheme.framework.amazium.git
diazotheme.framework.baseline   = git ${remotes:th_code}/diazotheme.framework.baseline.git pushurl=${remotes:th_code_push}/diazotheme.framework.baseline.git
diazotheme.framework.bootstrap  = git ${remotes:th_code}/diazotheme.framework.bootstrap.git pushurl=${remotes:th_code_push}/diazotheme.framework.bootstrap.git
diazotheme.framework.foundation = git ${remotes:th_code}/diazotheme.framework.foundation.git pushurl=${remotes:th_code_push}/diazotheme.framework.foundation.git
diazotheme.framework.goldilocks = git ${remotes:th_code}/diazotheme.framework.goldilocks.git pushurl=${remotes:th_code_push}/diazotheme.framework.goldilocks.git
diazotheme.framework.groundwork = git ${remotes:th_code}/diazotheme.framework.groundwork.git pushurl=${remotes:th_code_push}/diazotheme.framework.groundwork.git
diazotheme.framework.gumby      = git ${remotes:th_code}/diazotheme.framework.gumby.git pushurl=${remotes:th_code_push}/diazotheme.framework.gumby.git
diazotheme.framework.ivory      = git ${remotes:th_code}/diazotheme.framework.ivory.git pushurl=${remotes:th_code_push}/diazotheme.framework.ivory.git
diazotheme.framework.kube       = git ${remotes:th_code}/diazotheme.framework.kube.git pushurl=${remotes:th_code_push}/diazotheme.framework.kube.git
diazotheme.framework.metro      = git ${remotes:th_code}/diazotheme.framework.metro.git pushurl=${remotes:th_code_push}/diazotheme.framework.metro.git
diazotheme.framework.plone      = git ${remotes:th_code}/diazotheme.framework.plone.git pushurl=${remotes:th_code_push}/diazotheme.framework.plone.git
diazotheme.framework.skeleton   = git ${remotes:th_code}/diazotheme.framework.skeleton.git pushurl=${remotes:th_code_push}/diazotheme.framework.skeleton.git
diazotheme.framework.wirefy     = git ${remotes:th_code}/diazotheme.framework.wirefy.git pushurl=${remotes:th_code_push}/diazotheme.framework.wirefy.git
diazotheme.framework.yaml4      = git ${remotes:th_code}/diazotheme.framework.yaml4.git pushurl=${remotes:th_code_push}/diazotheme.framework.yaml4.git

diazotheme.frameworks       = git ${remotes:th_code}/diazotheme.frameworks.git pushurl=${remotes:th_code_push}/diazotheme.frameworks.git
diazotheme.bootswatch       = git ${remotes:th_code}/diazotheme.bootswatch.git pushurl=${remotes:th_code_push}/diazotheme.bootswatch.git

#diazotheme.startup          = git ${remotes:collective}/diazotheme.startup.git pushurl=${remotes:collective_push}/diazotheme.startup.git
#diazotheme.frameworks       = git ${remotes:collective}/diazotheme.frameworks.git pushurl=${remotes:collective_push}/diazotheme.frameworks.git
#diazotheme.bootswatch       = git ${remotes:collective}/diazotheme.bootswatch.git pushurl=${remotes:collective_push}/diazotheme.bootswatch.git

#diazotheme.bootstrap        = git ${remotes:th_code}/diazotheme.bootstrap.git pushurl=${remotes:th_code_push}/diazotheme.bootstrap.git
#diazotheme.default          = git ${remotes:th_code}/diazotheme.default.git pushurl=${remotes:th_code_push}/diazotheme.default.git
#diazotheme.initializr       = git ${remotes:th_code}/diazotheme.initializr.git pushurl=${remotes:th_code_push}/diazotheme.initializr.git
#diazotheme.foundation       = git ${remotes:th_code}/diazotheme.foundation.git pushurl=${remotes:th_code_push}/diazotheme.foundation.git
#diazotheme.responsify       = git ${remotes:th_code}/diazotheme.responsify.git pushurl=${remotes:th_code_push}/diazotheme.responsify.git
#diazotheme.goldilocks       = git ${remotes:th_code}/diazotheme.goldilocks.git pushurl=${remotes:th_code_push}/diazotheme.goldilocks.git
