[buildout]
parts += themepreview
auto-checkout += plone.themepreview

[themepreview]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    Sphinx
    sphinx-rtd-theme
    plone.app.robotframework [debug]
    sphinxcontrib-robotframework [docs]
scripts =
    sphinx-build=themepreview-build
    pybot=themepreview-pybot

# Usage:
#
# export ROBOT_APPLY_PROFILES=plone.app.contenttypes:default
# export ROBOT_INSTALL_PRODUCTS=Products.DateRecurringIndex
#
# bin/themepreview-build src/plone.themepreview/source build
#
# bin/themepreview-pybot -v APPLY_PROFILES:$ROBOT_APPLY_PROFILES -v INSTALL_PRODUCTS:$ROBOT_INSTALL_PRODUCTS src/plone.themepreview/source/desktop
