# These are extra version pins for packages that are not part of core or tests.
# This is especially for tools like zest.releaser which has dependencies
# that pull in ever more dependencies.
# Note: version pins in this file can be removed at any time.
[versions]
anyio = 4.11.0
argcomplete = 3.6.2
argh = 0.31.3
bleach = 6.2.0
cachecontrol = 0.14.3
cached-property = 2.0.1
click-default-group = 1.2.4
colorama = 0.4.6
commonmark = 0.9.1
configparser = 7.2.0
Deprecated = 1.2.18
distro = 1.9.0
fancycompleter = 0.11.1
filelock = 3.18.0
gitdb = 4.0.12
GitPython = 3.1.44
httplib2 = 0.22.0
httpx = 0.28.1
i18ndude = 6.3.0
incremental = 24.7.2
lockfile = 0.12.2
msgpack = 1.1.0
mxdev = 5.0.2
oauthlib = 3.2.2
pdbpp = 0.11.7
pep517 = 0.13.1
plone.recipe.zeoserver = 3.0.5
plone.releaser = 3.0.0
plone.reload = 4.0.0
progress = 1.6
PyGithub = 2.6.1
PyNaCl = 1.5.0
pyparsing = 3.2.3
pyrepl = 0.11.4
smmap = 5.0.2
stdlib-list = 0.11.1
wadllib = 2.0.0
webencodings = 0.5.1
wmctrl = 0.5
z3c.checkversions = 3.0
z3c.dependencychecker = 2.15
zest.pocompile = 2.0.0
zodbverify = 1.2.0
zope.mkzeoinstance = 6.0
ZopeUndo = 6.0

[versions:python_version > "3.10"]
tomli = 2.3.0

[versions:python_version == "3.10"]
tomli = 2.2.1

[versionannotations]
# keep this alphabetical please
smmap =
    Requirement of gitdb<5,>=4.0.1: smmap<6,>=3.0.1
