[buildout]
# This file is part of buildout.coredev repository: https://github.com/plone/buildout.coredev
# The Plone Release Team is responsible for it, with help from lots of core Plone developers.
# If you have suggestions, please open an issue at: https://github.com/plone/buildout.coredev/issues
# Note: version pins in this file should only be removed in a new minor version of Plone.

# Based on latest development Zope:
# extends = https://raw.githubusercontent.com/zopefoundation/Zope/master/versions.cfg
# Based on released Zope:
extends = https://zopefoundation.github.io/Zope/releases/5.12/versions.cfg


[versions]
# Basics
# !! keep in sync with requirements.txt !!
pip = 24.3.1
setuptools = 75.6.0
wheel = 0.45.1
zc.buildout = 3.3

# windows specific
nt-svcutils = 2.13.0

# OVERRIDES
# You MUST manually keep this in sync with the version-overrides in mx.ini.
certifi = 2024.12.14
packaging = 24.2
zope.configuration = 6.0
waitress = 3.0.2
webtest = 3.0.2

# CORE PLONE.
# These packages are what you get when installing Plone plus test dependencies,
# and are managed by the Plone community, not by Zope or others.
borg.localrole = 3.1.11
diazo = 2.0.2
five.intid = 2.0.0
Plone = 6.1.0b2
plone.alterego = 2.0.1
plone.api = 2.2.5
plone.app.caching = 4.0.0
plone.app.content = 4.1.8
plone.app.contentlisting = 3.0.5
plone.app.contentmenu = 3.0.6
plone.app.contentrules = 5.0.6
plone.app.contenttypes = 4.0.4
plone.app.customerize = 2.0.2
plone.app.dexterity = 4.0.3
plone.app.discussion = 5.0.0a3
plone.app.event = 5.2.1
plone.app.i18n = 4.0.1
plone.app.intid = 2.0.0
plone.app.iterate = 6.0.1
plone.app.layout = 5.0.1
plone.app.linkintegrity = 4.0.6
plone.app.locales = 6.0.27
plone.app.lockingbehavior = 2.0.2
plone.app.multilingual = 8.2.1
plone.app.portlets = 6.0.1
plone.app.querystring = 2.1.3
plone.app.redirector = 3.0.4
plone.app.registry = 2.0.6
plone.app.relationfield = 4.0.1
plone.app.robotframework = 2.1.4
plone.app.testing = 7.1.1
plone.app.textfield = 3.0.0
plone.app.theming = 5.0.11
plone.app.upgrade = 3.1.8
plone.app.users = 3.0.10
plone.app.uuid = 2.2.3
plone.app.versioningbehavior = 2.0.4
plone.app.viewletmanager = 4.0.4
plone.app.vocabularies = 6.0.2
plone.app.widgets = 5.0.2
plone.app.workflow = 5.0.4
plone.app.z3cform = 4.7.2
plone.autoform = 2.0.3
plone.autoinclude = 1.0.1
plone.base = 2.0.2
plone.batching = 2.0.6
plone.behavior = 2.0.1
plone.browserlayer = 3.0.2
plone.cachepurging = 3.0.2
plone.caching = 2.0.1
plone.classicui = 1.0.0a1
plone.contentrules = 3.0.1
plone.dexterity = 3.0.7
plone.distribution = 3.0.0b2
plone.event = 2.0.2
plone.exportimport = 1.0.0b1
plone.folder = 4.0.1
plone.formwidget.namedfile = 3.1.1
plone.formwidget.recurrence = 3.0.5
plone.i18n = 5.0.2
plone.indexer = 2.0.1
plone.intelligenttext = 4.0.1
plone.keyring = 4.0.2
plone.locking = 3.0.2
plone.memoize = 3.0.3
plone.namedfile = 7.0.0
plone.outputfilters = 5.0.4
plone.portlet.collection = 4.0.4
plone.portlet.static = 4.0.4
plone.portlets = 3.0.2
plone.protect = 5.0.3
plone.recipe.zope2instance = 7.1.2
plone.registry = 2.0.1
plone.resource = 3.0.2
plone.resourceeditor = 4.0.1
plone.rest = 4.1.3
plone.restapi = 9.9.0
plone.rfc822 = 3.0.1
plone.scale = 4.1.3
plone.schema = 2.0.1
plone.schemaeditor = 4.0.9
plone.session = 4.0.4
plone.staticresources = 2.2.0b4
plone.stringinterp = 2.0.2
plone.subrequest = 2.0.5
plone.supermodel = 2.0.4
plone.testing = 9.0.3
plone.theme = 4.0.3
plone.tiles = 2.3.1
plone.transformchain = 3.0.1
plone.uuid = 2.0.1
plone.volto = 5.0.1
plone.z3cform = 2.0.4
plonetheme.barceloneta = 3.2.2
Products.CMFDiffTool = 4.0.4
Products.CMFDynamicViewFTI = 7.0.2
Products.CMFEditions = 4.0.4
Products.CMFPlacefulWorkflow = 3.0.5
Products.CMFPlone = 6.1.0b2
Products.ExtendedPathIndex = 4.0.1
Products.isurlinportal = 3.0.0
Products.MimetypesRegistry = 3.0.1
Products.PlonePAS = 8.0.5
Products.PortalTransforms = 4.1.1
Products.statusmessages = 5.0.6
pytest-plone = 0.5.0

# CORE DEPENDENCIES: COLLECTIVE.
# These packages are what you get when installing Plone plus test dependencies,
# and are managed by the Collective (https://github.com/collective).
collective.MockMailHost = 3.0.0
collective.monkeypatcher = 1.2.2
collective.recipe.omelette = 1.1.0
collective.recipe.vscode = 0.1.9
collective.xmltestreport = 2.0.2
icalendar = 6.1.1
Products.DateRecurringIndex = 3.0.1
robotsuite = 2.3.2

# CORE DEPENDENCIES: Zope and friends
# These packages are what you get when installing Plone,
# and are managed by the Zope/ZODB/z3c/repoze communities,
# which are close to Plone.
five.customerize = 3.0.0
Products.CMFCore = 3.6
Products.CMFUid = 4.2
Products.DCWorkflow = 3.0
Products.ExternalMethod = 6.0
Products.GenericSetup = 4.0
Products.MailHost = 5.2
Products.PluggableAuthService = 3.0
Products.PluginRegistry = 2.0
Products.PythonScripts = 5.1
Products.Sessions = 5.0
Products.SiteErrorLog = 6.0
Products.StandardCacheManagers = 5.0
Products.ZopeVersionControl = 4.1
repoze.xmliter = 1.0b1
z3c.caching = 3.0
z3c.form = 5.1
z3c.formwidget.query = 2.0.0
z3c.objpath = 2.0
z3c.relationfield = 2.0.0
z3c.unconfigure = 2.1
z3c.zcmlhook = 2.0
zc.relation = 2.0
zdaemon = 5.1
ZEO = 6.0.0
zest.releaser = 9.2.0
zestreleaser.towncrier = 1.3.0
ZODB3 = 3.11.0
zodbupdate = 2.0
zope.app.locales = 5.0
zope.componentvocabulary = 2.3.0
zope.copy = 5.0
zope.intid = 5.0
zope.keyreference = 6.0
zope.pytestlayer = 8.2
zope.ramcache = 3.0
zope.sendmail = 6.2

# CORE DEPENDENCIES: other
# These packages are what you get when installing Plone and its tests,
# but are NOT managed by closely related communities.
async-generator = 1.10
attrs = 24.2.0
backports.cached-property = 1.0.2
backports.tarfile = 1.2.0
build = 1.2.2post1
check-manifest = 0.50
click = 8.1.7
cmarkgfm = 2024.11.20
coverage = 7.6.9
cryptography = 44.0.0
cssselect = 1.2.0
decorator = 5.1.1
exceptiongroup = 1.2.2
feedparser = 6.0.11
furl = 2.1.3
future = 1.0.0
gunicorn = 23.0.0
h11 = 0.14.0
importlib-resources = 6.4.5
iniconfig = 2.0.0
jaraco.classes = 3.4.0
jaraco.context = 6.0.1
jaraco.functools = 4.1.0
jeepney = 0.8.0
jsonschema = 4.23.0
jsonschema-specifications = 2024.10.1
keyring = 25.5.0
lxml = 5.3.0
lxml-html-clean = 0.4.1
manuel = 1.13.0
Markdown = 3.7
markdown-it-py = 3.0.0
mdurl = 0.1.2
mock = 5.1.0
more-itertools = 10.5.0
natsort = 8.4.0
nh3 = 0.2.19
orderedmultidict = 1.0.1
outcome = 1.3.0post0
overrides = 7.7.0
pep440 = 0.1.2
piexif = 1.1.3
Pillow = 11.0.0
pkginfo = 1.10.0
pluggy = 1.5.0
prompt-toolkit = 3.0.48
py = 1.11.0
PyJWT = 2.10.1
pyOpenSSL = 24.3.0
pyproject-hooks = 1.2.0
pyroma = 4.2
pyrsistent = 0.20.0
PySocks = 1.7.1
pytest = 7.4.4
pytest-cov = 5.0.0
python-dateutil = 2.9.0.post0
python-dotenv = 1.0.1
PyYAML = 6.0.2
readme-renderer = 44.0
referencing = 0.35.1
requests-toolbelt = 1.0.0
responses = 0.25.3
rfc3986 = 2.0.0
rich = 13.9.4
robotframework = 6.0.2
# robotframework >= 6.1 is only supported with robotframwork-lsp >= 1.11.0,
# but https://github.com/robocorp/robotframework-lsp/issues/947
robotframework-assertion-engine = 3.0.3
robotframework-browser = 18.9.1
robotframework-debuglibrary = 2.5.0
robotframework-lsp = 1.10.1
robotframework-pythonlibcore = 4.4.1
robotframework-selenium2library = 3.0.0
robotframework-selenium2screenshots = 0.8.1
robotframework-seleniumlibrary = 6.1.3
robotframework-seleniumtestability = 2.1.0
rpds-py = 0.22.3
SecretStorage = 3.3.3
seedir = 0.5.0
selenium = 4.9.1
sgmllib3k = 1.0.0
simplejson = 3.19.3
sniffio = 1.3.1
sortedcontainers = 2.4.0
toml = 0.10.2
towncrier = 24.8.0
trio = 0.27.0
trio-websocket = 0.11.1
trove-classifiers = 2024.10.21.16
twine = 5.1.1
types-PyYAML = 6.0.12.10
types-toml = 0.10.8.5
typing-extensions = 4.12.2
tzdata = 2025.1
Unidecode = 1.3.8
urllib3-secure-extra = 0.1.0
watchdog = 6.0.0
wcwidth = 0.2.13
webresource = 1.2
wrapt = 1.17.0
wsproto = 1.2.0

[versions:windows]
pywin32-ctypes = 0.2.3

[versionannotations]
# keep this alphabetical please
grpcio =
   This has an exact version pin in the robotframework-browser package.
grpcio-tools =
   This has an exact version pin in the robotframework-browser package.
pkginfo =
    Requirement of twine>=1.6.0: pkginfo<1.11
prompt-toolkit =
    Requirement of robotframework-debuglibrary: prompt-toolkit<3,>=2
protobuf =
   This has an exact version pin in the robotframework-browser package.
selenium =
    robotframework-seleniumlibrary 6.1.0 is incompatible with 4.10.0. See https://github.com/robotframework/SeleniumLibrary/issues/1835
