/*** Plone style sheet - Authoring Elements
 ***
 *** Style sheet documentation can be found at http://plone.org/documentation
 ***
 *** You should preferrably use ploneCustom.css to add your own CSS classes and to
 *** customize your portal, as these are the base fundaments of Plone, and will
 *** change and be refined in newer versions. Keeping your changes in
 *** ploneCustom.css will make it easier to upgrade.
 ***
 *** Feel free to use whole or parts of this for your own designs, but give credit
 *** where credit is due.
 *** */
/* Editable border */
.contentViews {
  background-color: transparent;
  padding-left: 1em;
  line-height: normal;
  margin: 0;
  list-style: none;
  border: 1px solid #74ae0b;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contentViews li {
  display: inline;
  padding-top: 0.5em;
}
.contentViews li a {
  background-color: transparent;
  border: 1px solid #74ae0b;
  border-style: solid;
  color: #578308;
  height: auto;
  margin-right: 0.5em;
  padding: 0em 1em;
  line-height: normal;
  text-decoration: none;
  text-transform: none;
  z-index: 1;
}
.contentViews .selected a {
  background-color: #cde2a7;
  border-bottom: #cde2a7 1px solid;
  color: #578308;
}
.contentViews li a:hover {
  background-color: #cde2a7;
  color: #578308;
}

.configlet .contentViews {
  font-size: 90%;
}

/*** begin ECMAScript Content Action Menus */
.contentActions {
  background-color: #cde2a7;
  border-left: 1px solid #74ae0b;
  border-right: 1px solid #74ae0b;
  color: #578308;
  text-align: right;
  text-transform: none;
  padding: 0 0 0 1em;
  z-index: 2;
  position: relative;
  height: 1.6em;
}
.contentActions ul {
  margin: 0;
  list-style: none;
  list-style-image: none;
  color: black;
  text-align: left;
  line-height: 1.6em;
}
.contentActions li {
  margin: 0;
  list-style: none;
  list-style-image: none;
  color: black;
  text-align: left;
  line-height: 1.6em;
  float: right;
  z-index: 4;
  border-left: 1px solid #74ae0b;
}
.contentActions a {
  text-decoration: none;
  color: #578308;
  padding: 0 0.5em;
  cursor: pointer;
}
.contentActions span.subMenuTitle {
  padding: 0em 0.5em;
  position: relative;
  white-space: nowrap;
  display: inline;
}
.contentActions a span.subMenuTitle {
  padding: 0px;
  display: inline;
}

.actionMenu {
  /*  The spec says we can't put this on an element with a float (although
   *  Opera is the only one that cares) and we need it in order to catch
   *  the position:absolute bubbling up */
  position: relative;
  margin: 0;
  padding: 0;
}
.actionMenu .actionMenuHeader {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.actionMenu.activated .actionMenuHeader {
  position: relative;
  z-index: 10;
}
.actionMenu .actionMenuHeader a {
  display: block;
}

.arrowDownAlternative {
  font-size: 0.85em;
}

.actionMenu .actionMenuContent {
  display: none;
  z-index: 5;
  position: absolute;
  top: 1.6em;
  right: -1px;
  height: auto;
  padding: 0;
  margin: 0;
}
.actionMenu.activated .actionMenuContent {
  display: block !important;
  /* this one will be ignored by IE, it is here to fix the cut-off error in
   * Firefox */
  display: table !important;
  border-collapse: collapse;
  border-spacing: 0;
}
.actionMenu.deactivated .actionMenuContent {
  display: none !important;
}
.actionMenu .actionMenuContent ul {
  display: block;
  background: #cde2a7;
  border: 1px #74ae0b;
  border-style: none solid solid solid;
  margin: -2px 0 0 0;
  padding: 0;
}
.actionMenu .actionMenuContent li {
  float: none;
  background-color: transparent;
  display: inline;
  padding: 0;
  margin: 0;
  border: 0;
}
.actionMenu .actionMenuContent li a {
  display: block;
  white-space: nowrap;
  margin: 0.2em 0;
}
.actionMenu .actionMenuContent .selected {
  display: block;
  white-space: nowrap;
  padding: 0 0.5em;
  margin: 0.2em 0;
}
.actionMenu .actionMenuContent li a:hover {
  background-color: #74ae0b;
  color: white;
}
.actionMenu .actionMenuContent .actionSeparator a {
  padding-top: 0.2em;
  border-top: 1px solid #74ae0b;
}
.actionMenu .actionMenuContent .actionMenuSelected {
  color: black;
  font-weight: bold;
}

#templateMenu li a {
  padding-left: 16px;
}

/*** end ECMAScript Content Action Menus */
ul.configlets {
  margin: 1em 0;
  list-style-image: none;
  list-style: none;
}
ul.configlets li {
  margin-bottom: 1em;
}
ul.configlets li a {
  text-decoration: none;
  border: none;
}
ul.configlets li a:visited, ul.configlets li a:active {
  color: #436976;
  background-color: transparent;
}
ul.configlets li label {
  font-weight: bold;
}
ul.configletDetails {
  margin: 0em 1em 1em 4em;
  list-style-image: none;
  list-style: none;
}
ul.configletDetails li {
  margin-bottom: 1em;
  display: inline;
}
ul.configletDetails li a {
  text-decoration: none;
}
ul.configletDetails li label {
  font-weight: bold;
}
ul.configletDetails li.configletDescription {
  display: block;
  color: #76797c;
  font-size: 90%;
  margin: 0;
}

/* Additional STX workaround classes */
.stx table {
  border: 1px solid #8cacbb !important;
}
.stx table p {
  margin: 0;
  padding: 0;
}
.stx table td {
  border-bottom: 1px solid #8cacbb;
}

.reviewHistory, .contentHistory {
  display: inline;
  font-size: 110% !important;
  color: black;
}

.comment {
  background: #eef3f5;
  border: 1px solid #8cacbb;
  padding: 0.25em 1em 0.5em 1em;
  margin-bottom: 1em;
}
.comment h1, .comment h2, .comment h3, .comment h4, .comment h5, .comment h6 {
  border-bottom: 1px solid #76797c;
  font-weight: normal;
}
.comment h3 a {
  background-image: url(discussionitem_icon.png);
  background-repeat: no-repeat;
  padding-left: 18px;
  margin-left: -1px;
  margin-bottom: 1px;
  min-height: 1.6em;
  height: auto;
  line-height: 1.6em;
}

.commentBody {
  margin: 0 1em 1em 1em;
}

.spacer {
  margin: 1em;
}

/* Collapsible elements */
dl.collapsible {
  border: 1px solid #8cacbb !important;
  margin: 1em 0 0 0;
  padding: 0;
}
dl.collapsible dt.collapsibleHeader {
  display: block;
  float: left;
  background: white;
  line-height: 1.2em;
  vertical-align: middle;
  font-size: 90%;
  position: relative;
  top: -0.6em;
  width: auto;
  margin: 0 0 -0.6em 1em;
  padding: 0 0.5em;
}
dl.collapsible dd.collapsibleContent {
  margin: 0;
  padding: 0 1em;
  clear: left;
}
dl.collapsible dd.collapsibleContent > dl {
  margin: 0;
  padding: 0;
}
dl.expandedInlineCollapsible dt.collapsibleHeader, dl.expandedBlockCollapsible dt.collapsibleHeader {
  padding: 0 6px 0 22px;
  background: white url(treeExpanded.png) no-repeat 6px 50%;
  cursor: pointer;
}
dl.collapsedBlockCollapsible {
  border: none !important;
  height: 1em;
  width: auto;
}
dl.collapsedBlockCollapsible dt.collapsibleHeader {
  float: none;
  position: static;
  margin: 0;
  padding: 0 0 0 22px;
  line-height: 1em;
  background: transparent url(treeCollapsed.png) no-repeat 6px 50%;
  cursor: pointer;
}
dl.collapsedInlineCollapsible dd.collapsibleContent, dl.collapsedBlockCollapsible dd.collapsibleContent {
  display: none;
}
dl.collapsedInlineCollapsible {
  border: none !important;
  height: 1em;
  width: auto;
  display: inline;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader {
  position: static;
  float: none;
  margin: 0;
  padding: 0 0 0 22px;
  line-height: 1em;
  background: transparent url(treeCollapsed.png) no-repeat 6px 50%;
  cursor: pointer;
  display: inline;
}

/* for IE the following isn't needed, that's why the css2 selector is used */
.configlet .documentEditable {
  padding: 0em !important;
}

.documentEditable #content {
  border: 1px solid #74ae0b;
  padding: 0;
}

.label {
  font-weight: bold;
  display: inline;
  padding-right: 0.5em;
}

.optionsToggle {
  border: 1px solid #8cacbb;
  color: black;
  background-color: #dee7ec;
  font-weight: normal !important;
  font-size: 90%;
}

/* Used on all descriptions relevant to those not logged in */
#portal-column-content fieldset > * input:focus, #portal-column-content fieldset > * textarea:focus {
  border-color: #ffa500;
  border-width: 1px;
}

/* for highlighting of search terms */
.highlightedSearchTerm {
  background-color: #ffffaa;
}

dl.searchResults .highlightedSearchTerm {
  background-color: transparent;
  font-weight: bold;
}

/* for greying out inherited roles */
.noInheritedRoles {
  color: #a0a0a0;
}

/* for highlighting current items, like the language or today in the calendar */
.currentItem {
  border-collapse: collapse;
  border: 2px solid #ffa500;
  padding: 1px;
}

.managePortletsLink {
  display: block;
  color: #76797c;
  font-size: 90%;
  font-weight: normal;
}

ul.formTabs {
  position: relative;
  display: block;
  margin: 0 0 -2em 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

li.formTab {
  display: inline;
  margin: 0;
  padding: 0;
}
li.formTab a {
  /* this isn't supported by all browsers, so we keep it in a separate rule */
  display: inline-block;
  border-top: 1px solid #8cacbb;
  border-bottom: 1px solid #8cacbb;
  border-left: 1px dotted #8cacbb;
  background: white;
  margin: 0;
  padding: 0.125em 0.75em;
  text-decoration: none;
}
li.formTab a:visited {
  color: #436976;
}
li.firstFormTab a {
  border-left: 1px solid #8cacbb;
}
li.lastFormTab a {
  border-right: 1px solid #8cacbb;
}
li.formTab a.selected, li.formTab a:hover {
  background: #dee7ec;
}
li.formTab a.notify {
  background-color: #ffce7b;
  color: black;
}
li.formTab a.required span {
  background-image: url(required.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 8px;
}

div.field span.required {
  background-image: url(required.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 8px;
}

li.formTab a.notify:hover {
  background-color: #ffa500;
}

.formPanel {
  padding: 1em 1em 1em 1em;
  border: 1px solid #8cacbb;
}
.formPanel.hidden {
  display: none;
}

div.formControls input.hidden {
  display: none;
}

/* @group Content History */
div.historyRecord {
  margin-bottom: 1em;
  border: 1px solid #8cacbb;
}
div.historyTools ul {
  float: right;
  margin: 0.5em 1em;
}
div.historyTools ul li {
  display: inline;
  padding: 0 0.015em;
}
div.historyTools ul li a {
  border-bottom: none;
}
div.historyTools form {
  display: inline;
}

.historyByLine {
  background: #dee7ec;
  padding: 0.5em;
}

div.historyLinks {
  float: right;
  clear: right;
  margin: 0.5em 1em 0 0;
}
div.historyComment {
  padding: 0.5em 1em;
}
div.historyComment p {
  margin: 0;
  padding-top: 1px;
}

a.historyComparePrevious {
  border-top: 1px dotted #cccccc;
  display: block;
  margin-top: 3em;
  text-align: center;
}
a.historyComparePrevious span {
  background-color: white;
  position: relative;
  top: -0.75em;
  padding: 0 0.5em;
}
a.multiSelect {
  position: relative;
  cursor: default;
  text-decoration: none;
  color: black;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
}
a.multiSelect:link, a.multiSelect:visited, a.multiSelect:hover, a.multiSelect:active {
  color: black;
  text-decoration: none;
}
a.multiSelect span {
  overflow: hidden;
  display: -moz-inline-stack;
  display: inline-block;
  white-space: nowrap;
  text-align: right;
  color: #777777;
}

/* @end */
/* @group jQuery Tag multiple selector */
.multiSelectOptions {
  margin-top: -1px;
  overflow-y: auto;
  border: solid 1px #999999;
  background: white;
  height: 14em;
  width: 100%;
}
.multiSelectOptions LABEL {
  padding: 2px 0 0 0;
  display: block;
  line-height: 1em;
  font-weight: normal;
}
.multiSelectOptions LABEL.optGroup {
  font-weight: bold;
}
.multiSelectOptions .optGroupContainer LABEL {
  padding-left: 10px;
}
.multiSelectOptions.optGroupHasCheckboxes .optGroupContainer LABEL {
  padding-left: 18px;
}
.multiSelectOptions input {
  vertical-align: middle;
  margin: 1px 4px 4px 6px;
}
.multiSelectOptions LABEL.checked {
  background-color: #eeeeee;
}
.multiSelectOptions LABEL.selectAll {
  border-bottom: dotted 1px #cccccc;
}
.multiSelectOptions LABEL.hover {
  background-color: #777777;
  color: white;
}

.formHelp {
  font-weight: normal !important;
}

#existingTagsSection {
  position: relative;
  margin-left: 3em;
}

#existingTags {
  float: left;
  width: 50%;
}

#content dd {
  margin-bottom: 1px;
  margin-left: 0;
}

#selectedTagsSection {
  margin-left: 3em;
  float: left;
  width: 43%;
  margin-bottom: 0em !important;
}

#selectedTags {
  margin-bottom: 1em;
}

#newTagsSection {
  width: 49%;
  margin-left: 3em;
}

span.selectedTag {
  -moz-background-clip: border;
  -moz-background-origin: padding;
  -moz-background-size: auto auto;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  background-attachment: scroll;
  background-color: #dddddd;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  color: black;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
}

p.selectedTag {
  margin-bottom: 0.4em !important;
}

#existingTagsTitle, #newTagsTitle {
  float: left;
}

#existingTagsHelp, #newTagsHelp {
  float: right;
}

/* @end */
