/*** Table-based column layout for all browsers. */
.inlineDisplay {
  display: inline;
}

table.controlpanel-listing {
  width: 100%;
}
table.controlpanel-listing td, table.controlpanel-listing th {
  font-size: 120%;
}
table.controlpanel-listing dl {
  margin-top: 0;
}
table.controlpanel-listing dd {
  margin-left: 1em;
}
table.controlpanel-listing dl dt a .trigger {
  font-weight: normal;
}
table .controlpanel-listing td {
  vertical-align: top;
}
table.controlpanel-listing td.checker {
  text-align: center;
}
table.controlpanel-listing th.smallcolumn {
  width: 1.5em;
}

.chooser-right {
  float: right;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.rule-element {
  background-color: #eef3f5;
  margin: 0.5em 0pt 0.5em;
  padding: 0.3em 1em 0.3em 1em;
  width: auto;
}
.rule-element dl dd {
  margin-left: 1em;
}

.rule-updown, .rule-operations {
  float: right;
  padding-top: 0.8em;
}
