/*** Plone style sheet - Form Elements
 ***
 *** Style sheet documentation can be found at http://plone.org/documentation
 ***
 *** You should preferrably use ploneCustom.css to add your own CSS classes and to
 *** customize your portal, as these are the base fundaments of Plone, and will
 *** change and be refined in newer versions. Keeping your changes in
 *** ploneCustom.css will make it easier to upgrade.
 ***
 *** Feel free to use whole or parts of this for your own designs, but give credit
 *** where credit is due.
 *** */
textarea {
  font: 100% Monaco, "Courier New", Courier, monospace;
  border: 1px solid #dddddd;
  border-color: #666666 #dddddd #dddddd #666666;
  color: black;
  background: white url(input_background.png) repeat-x;
  width: 100%;
}

input {
  font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  visibility: visible;
  border: 1px solid #dddddd;
  border-color: #666666 #dddddd #dddddd #666666;
  color: black;
  vertical-align: middle;
  background: white url(input_background.png) repeat-x;
  font-size: 1em;
}

/* Code to work around IE's lacking support of sub-elements of the input element */
.noborder, .documentEditable * .noborder, input[type=checkbox] {
  border: none;
  margin: 0;
  background: none;
  background-color: transparent;
}

#searchGadget {
  border: 1px solid #8cacbb;
}

button {
  font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  visibility: visible;
  border: 1px solid #8cacbb;
  color: black;
  vertical-align: middle;
  background-color: #dee7ec;
  padding: 1px;
  cursor: pointer;
  font-size: 90%;
  text-transform: none;
}

select {
  vertical-align: top;
}

form {
  border: none;
  margin: 0;
}

fieldset {
  border: 1px solid #8cacbb;
  margin: 1em 0em 1em 0em;
  padding: 0em 1em 1em 1em;
  line-height: 1.5em;
  width: auto;
}

legend {
  background: white;
  padding: 0.5em;
  font-size: 90%;
}

label {
  font-weight: bold;
}

optgroup {
  font-style: normal;
  font-weight: bold;
  color: #999999;
  padding-left: 0.25em;
}

option {
  color: black;
}

optgroup > option {
  padding: 0 0.25em 0 1em;
}

dl.enableFormTabbing dd {
  margin-left: 0;
  padding-top: 2em;
}

#login-form {
  width: 30em;
  margin: 0 auto;
}
#login-form .field {
  clear: none;
}
#login-form input {
  font-size: 150%;
}
#login-form input.context {
  padding: 1px 10px 1px 20px;
  background-position: 9px 5px;
  margin-bottom: 1em;
}

#forgotten-password {
  float: right;
  width: 35%;
  margin: 0 1em;
}

.standalone, .documentEditable * .standalone {
  background: #dee7ec url(linkOpaque.png) 9px 1px no-repeat;
  color: black;
  cursor: pointer;
  font-size: 90%;
  padding: 1px 1px 1px 15px;
  text-transform: none;
  border: 1px solid #8cacbb;
}

.context, .formControls .actionButtons .button, .documentEditable * .context {
  background: transparent url(linkTransparent.png) 9px 1px no-repeat;
  color: black;
  cursor: pointer;
  font-size: 90%;
  padding: 1px 1px 1px 15px;
  text-transform: none;
  border: 1px solid #8cacbb;
}

.destructive, .documentEditable * .destructive {
  background: #ffce7b url(linkTransparent.png) 9px 1px no-repeat;
  border: 1px solid #ffa500;
  color: black;
  cursor: pointer;
  font-size: 90%;
  padding: 1px 1px 1px 15px;
  text-transform: none;
  border: 1px solid #8cacbb;
}

input.searchButton {
  margin-bottom: 1px !important;
  color: black;
  font-size: 90%;
  background: white url(search_icon.png) 2px 1px no-repeat;
  cursor: pointer;
  padding: 1px 1px 1px 19px;
  text-transform: none;
  border: 1px solid #8cacbb;
}

.searchSection {
  color: #76797c;
  margin-top: 0.25em;
}
.searchSection label:hover {
  color: black;
}

/* The edit form elements */
.field {
  top: 0;
  left: 0;
  margin: 0 1em 1em 0;
  clear: both;
}

#search-filter .field {
  clear: none;
  float: left;
  width: 230px;
}
#search-filter h2 {
  clear: left;
}

.field .field {
  margin: 0;
}

.fieldRequired {
  background: url(required.png) center left no-repeat;
  padding: 0 0 0 8px;
  color: white;
}

.fieldUploadFile {
  text-align: right;
  margin-right: 0.75em;
  display: none;
}

.fieldTextFormat {
  text-align: right;
  margin-right: 0.75em;
}

.formHelp {
  font-size: 90%;
  color: #76797c;
  margin: 0 0 0.2em 0;
  display: block;
}
.formHelp:hover {
  color: black;
  cursor: default;
}

div.error {
  /* Class for error indication in forms */
  background-color: #ffddcc;
  border: 1px solid #dd0000;
  padding: 0.5em;
  margin: 0 0 1em 0;
  width: 95%;
}

.error .fieldRequired {
  color: #dd0000;
}

/* Styles to make the editing widgets look more like their view counterparts */
#archetypes-fieldname-title input, input#form\.title {
  font-size: 160%;
  font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  font-weight: normal;
  width: 99%;
}

#archetypes-fieldname-description textarea, textarea#form\.description {
  font: 100% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

input.inputLabelActive {
  color: #76797c;
}

textarea#form\.description {
  height: 6em;
  width: 99%;
}

tr.selected {
  background-color: #ffffaa;
}

.kupu-save-message {
  color: white;
  font-weight: bold;
  background-color: red;
  padding: 0.3em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}
