/*** Plone style sheet - Portlets
 ***
 *** Style sheet documentation can be found at http://plone.org/documentation
 ***
 *** You should preferrably use ploneCustom.css to add your own CSS classes and to
 *** customize your portal, as these are the base fundaments of Plone, and will
 *** change and be refined in newer versions. Keeping your changes in
 *** ploneCustom.css will make it easier to upgrade.
 ***
 *** Feel free to use whole or parts of this for your own designs, but give credit
 *** where credit is due.
 *** */
/* Fallback for edit screen if both columns are hidden */
.managePortletsFallback {
  margin: 0 0 0 1em;
}

/* Main portlet elements */
.portlet {
  margin: 1px 0 1em 0;
  border-bottom: 1px solid #8cacbb;
  background-color: white;
}
.portlet a {
  text-decoration: none;
}
.portlet a.tile {
  display: block;
}

.portletItem ul {
  list-style-type: none;
}
.portletItem a {
  border-bottom: none;
}

/* XXX: The two below rules should really be in the rule above, but that makes the items grow/shrink on :hover (navtree) - need to investigate how to make it not do that. ~limi, Dec 2005 */
.portletFooter a {
  border-bottom: none;
}

.portletItem a:visited, .portletFooter a:visited {
  color: #436976;
}

.portletHeader, .managedPortlet .portletHeader {
  background-color: #dee7ec;
  border: 1px solid #8cacbb;
  padding: 0em 1em;
  text-transform: none;
  font-weight: normal;
  line-height: 1.6em;
}

.portletHeader a, .managedPortlet .portletHeader a {
  color: black;
}

.inheritedPortlet .portletHeader {
  background-color: transparent;
}

.portletItem {
  margin: 0;
  padding: 1em;
  border-left: 1px solid #8cacbb;
  border-right: 1px solid #8cacbb;
}
.portletItem ol {
  margin: 0 0 0 1em;
}

.portletItemDetails {
  text-align: right;
  display: block;
  color: black;
}

.portletFooter {
  background-color: #eef3f5;
  margin: 0;
  padding: 0.25em 1em;
  border: 1px solid #8cacbb;
  border-style: dotted solid none solid;
  text-align: right;
}

/* Elements that enable layout with rounded corners */
/*** Calendar elements - used in the calendar rendering */
.dayPopup {
  background-color: #ffffe1;
  border: 1px solid black;
  padding: 0.2em;
  position: absolute;
  visibility: hidden;
  width: 12em;
  z-index: 2;
}

.date {
  font-weight: bold;
}

.portletCalendar {
  width: 100%;
  margin: 1px 0 1em 0;
  width: 100%;
}
.portletCalendar dt {
  background-color: #dee7ec;
  font-weight: normal;
  text-align: center;
  line-height: 1.6em;
  border-bottom: none;
}
.portletCalendar dd {
  margin: 0;
  padding: 0;
}
.portletCalendar a {
  text-decoration: none;
}
.portletCalendar a:hover {
  text-decoration: none;
}

.ploneCalendar {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.ploneCalendar td {
  background-color: transparent;
  width: 14%;
  text-align: center;
  padding: 2px;
}
.ploneCalendar .weekdays th {
  background-color: #dee7ec;
  border: 1px solid #8cacbb;
  border-style: solid none;
  text-align: center;
  padding: 2px;
  font-weight: normal;
}
.ploneCalendar .event {
  background-color: #dee7ec;
  font-weight: bold;
}
.ploneCalendar .todayevent {
  background-color: #dee7ec;
  border: 2px solid #ffa500;
  font-weight: bold;
}
.ploneCalendar .todaynoevent {
  border-collapse: collapse;
  border: 2px solid #ffa500;
}

.managePortletsLink {
  text-align: center;
}

div.portlets-manager div.section {
  padding-top: 1em !important;
}
div.managedPortlet {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: transparent;
}

.managedPortlet .portletHeader {
  min-height: 3em !important;
}
.managedPortlet a {
  text-decoration: underline;
}

.managedPortletActions {
  display: block;
  float: right;
}
.managedPortletActions a {
  text-decoration: none;
}
.managedPortletActions a.up, .managedPortletActions a.down {
  color: blue !important;
}
.managedPortletActions a.delete {
  color: red !important;
}

.blockedPortlet .portletHeader {
  border-color: #76797c;
}
.blockedPortlet .portletBlockedMessage {
  color: #76797c;
}

/* Table of Contents styling - essentially a portlet with smaller fonts and aligned right + limited in width */
.toc {
  float: right;
  width: 30%;
  font-size: 90%;
  margin: 0 0 0.5em 0.5em;
}
.toc .TOC1Digit {
  margin-left: 1em;
}
.toc .TOC2Digit {
  margin-left: 2em;
}
.toc .TOC3Digit {
  margin-left: 3em;
}

/* Static text portlet */
.portletStaticText ul {
  list-style-image: url(bullet.png);
  list-style-type: square;
  margin: 0.5em 0 0 1.5em;
}
.portletStaticText ol {
  margin: 0.5em 0 0 2em;
}

/* LiveSearch portlet tweaks, since positioning changes */
#portal-column-one fieldset.livesearchContainer {
  right: inherit !important;
  top: 1.5em !important;
}
