[buildout]
extends = ../plips/plipbase.cfg
auto-checkout +=
    Chameleon
    five.pt
parts +=
    test-pt

[instance]
eggs +=
    five.pt
environment-vars +=
    CHAMELEON_DEBUG True
    CHAMELEON_EAGER True
#    CHAMELEON_CACHE True

[test-pt]
<= test
eggs =
    ${test:eggs}
    five.pt

[versions]
sourcecodegen = 0.6.14
z3c.pt = 2.1

[sources]
Chameleon                   = git git://github.com/malthe/chameleon.git
five.pt                     = svn http://svn.zope.org/repos/main/five.pt/trunk
sourcecodegen               = svn http://svn.repoze.org/sourcecodegen/trunk
z3c.pt                      = svn http://svn.zope.org/repos/main/z3c.pt/trunk
