[buildout]
extends = ../plips/plipbase.cfg
auto-checkout +=
    Chameleon
    five.pt
    z3c.pt  
parts +=
    test-pt

[instance]
eggs +=
    z3c.ptcompat
    cmf.pt
environment-vars +=
    CHAMELEON_DEBUG True
    CHAMELEON_EAGER True
#    CHAMELEON_CACHE True
    PREFER_Z3C_PT True

[test-pt]
<= test
eggs =
    ${test:eggs}
    z3c.ptcompat
    Chameleon
    five.pt
    z3c.pt  
    cmf.pt
environment = testenv

[testenv]
PREFER_Z3C_PT = True

[versions]
Chameleon = 1.2.3
cmf.pt = 1.0
five.pt = 1.1
sourcecodegen = 0.6.12
z3c.pt = 1.2.1

[sources]
Chameleon                   = svn http://svn.repoze.org/chameleon/trunk
cmf.pt                      = svn http://svn.zope.org/repos/main/cmf.pt/trunk
five.pt                     = svn http://svn.zope.org/repos/main/five.pt/trunk
sourcecodegen               = svn http://svn.repoze.org/sourcecodegen/trunk
z3c.pt                      = svn http://svn.zope.org/repos/main/z3c.pt/trunk
