[domain]
atcontenttypes = 
    plone.app.event
    Products.ATContentTypes
atreferencebrowserwidget =
    archetypes.referencebrowserwidget

[buildout]
extends = ../plips/plipbase.cfg
parts +=
    i18n

eggs +=
    Products.LinguaPlone

auto-checkout +=
    plone.app.locales
    ${domain:atcontenttypes}
    ${domain:atreferencebrowserwidget}
# plone domain
    archetypes.kss
    plone.contentrules
    plone.fieldsets
    plone.i18n
    plone.locking
    plone.memoize
    plone.openid
    plone.portlets
    plone.portlet.collection
    plone.portlet.static
    plone.session
    plone.intelligenttext
    plone.app.contentmenu
    plone.app.content
    plone.app.contentrules
    plone.app.controlpanel
    plone.app.customerize
    plone.app.form
    plone.app.i18n
    plone.app.imaging
    plone.app.iterate
    plone.app.kss
    plone.app.layout
    plone.app.linkintegrity
    plone.app.portlets
    plone.app.redirector
    plone.app.users
    plone.app.viewletmanager
    plone.app.vocabularies
    plone.app.workflow
    plone.app.openid
    plonetheme.sunburst
    plonetheme.classic
    Products.Archetypes
    Products.CMFDiffTool
    Products.validation
    Plone
# passwordresettool domain
    Products.PasswordResetTool
# cmfplacefulworkflow domain
    Products.CMFPlacefulWorkflow
# cmfeditions domain
    Products.CMFEditions
# kupu, kupuconfig, kupupox domains
#    Products.kupu
# linguaplone domain
    Products.LinguaPlone
# plone.tinymce domain
    Products.TinyMCE

[instance]
eggs += Products.LinguaPlone

[versions]
collective.recipe.template = 1.6

# to extract messages and merge po for the atcontenttypes domain:
# bin/i18n atcontentypes
[i18n]
recipe = collective.recipe.template
inline =
    #!/bin/bash
    src="${buildout:directory}/../src/"
    atcontenttypes="${domain:atcontenttypes}"
    atreferencebrowserwidget="${domain:atreferencebrowserwidget}"
    if [ "$1" == "atcontenttypes" ]; then
        packages=$atcontenttypes
    fi
    if [ "$1" == "atreferencebrowserwidget" ]; then
        packages=$atreferencebrowserwidget
    fi
    i18ndirectory=${buildout:directory}/../src/plone.app.locales/plone/app/locales/i18n
    cd $src
    i18ndude rebuild-pot --pot $i18ndirectory/$1.pot --create $1 --merge $i18ndirectory/$1-manual.pot \
    $packages > rebuild-$1-pot.log 2>&1
    i18ndude sync --pot $i18ndirectory/$1.pot $i18ndirectory/$1-*.po
output = ${buildout:bin-directory}/i18n
mode = 755

[sources]
# plone.app.event will be in Plone 4.1
plone.app.event = svn https://svn.plone.org/svn/plone/plone.app.event/trunk
