# buildout to simplify & extend support for rendering image scales
#
# please run the buildout from the base directory using:
#   $ bin/buildout buildout:directory=$PWD -c experimental/new-scales.cfg

[buildout]
extends = ../buildout.cfg
auto-checkout +=
    plone.scale
    plone.app.imaging
    plone.app.blob

[sources]
plone.scale = svn https://svn.plone.org/svn/plone/plone.scale/trunk
plone.app.imaging = svn https://svn.plone.org/svn/plone/plone.app.imaging/branches/new-scales
