# buildout to remove the "getObjPositionInParent" catalog index and
# use a sort index based on the folder's order information instead
#
# please run the buildout from the base directory using:
#   $ bin/buildout buildout:directory=$PWD -c experimental/nogopip.cfg

[buildout]
extends = ../buildout.cfg
auto-checkout +=
    Plone
    plone.app.folder

[sources]
Plone = svn https://svn.plone.org/svn/plone/Plone/branches/witsch-nogopip
