# buildout to remove the "getObjPositionInParent" catalog index and
# use a sort index based on the folder's order information instead

[buildout]
extends = ../plips/plipbase.cfg
auto-checkout +=
    Plone
    plone.app.folder

[sources]
Plone = svn https://svn.plone.org/svn/plone/Plone/branches/witsch-nogopip
