# to test: log in and go to /@@plone.app.skineditor.browse

[buildout]
extends = ../plips/plipbase.cfg
auto-checkout += plone.app.skineditor
                 Products.Gloworm
[instance]
eggs +=
    plone.app.skineditor
    Products.Gloworm
    
zcml +=
    plone.app.skineditor
    Products.Gloworm
    
[test]
eggs +=
    plone.app.skineditor

[sources]
plone.app.skineditor = svn https://svn.plone.org/svn/plone/sandbox/plone.app.skineditor/trunk 
Products.Gloworm = svn https://weblion.psu.edu/svn/weblion/weblion/Products.Gloworm/trunk/