AccessControl==6.3
Acquisition==5.1
AuthEncoding==5.0
BTrees==5.1
Babel==2.13.1
Chameleon==4.2.0
DateTime==5.3
Deprecated==1.2.14
DocumentTemplate==4.6
ExtensionClass==5.1
GitPython==3.1.40
Jinja2==3.1.2
Markdown==3.5.2
MarkupSafe==2.1.3
Missing==5.0
MultiMapping==5.0
Paste==3.7.1
PasteDeploy==3.1.0
Persistence==4.1
Pillow==9.5.0
Plone==6.0.10
Products.BTreeFolder2==5.1
Products.CMFCore==3.3
Products.CMFDiffTool==4.0.3
Products.CMFDynamicViewFTI==7.0.2
Products.CMFEditions==4.0.3
Products.CMFPlacefulWorkflow==3.0.3
Products.CMFPlone==6.0.10
Products.CMFUid==4.2
Products.DCWorkflow==3.0
Products.DateRecurringIndex==3.0.1
Products.ExtendedPathIndex==4.0.1
Products.ExternalMethod==5.0
Products.GenericSetup==3.0.2
Products.MailHost==5.2
Products.MimetypesRegistry==3.0.1
Products.PDBDebugMode==2.0
Products.PlonePAS==8.0.2
Products.PluggableAuthService==3.0
Products.PluginRegistry==2.0
Products.PortalTransforms==4.0.2
Products.PrintingMailHost==1.1.7
Products.PythonScripts==5.0
Products.Sessions==5.0
Products.SiteErrorLog==6.0
Products.StandardCacheManagers==5.0
Products.ZCatalog==7.0
Products.ZopeVersionControl==4.1
Products.isurlinportal==2.0.2
Products.statusmessages==5.0.6
Products.validation==2.1.3
PyGithub==2.2.0
PyJWT==2.8.0
PyNaCl==1.5.0
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.17.2
Record==4.0
RestrictedPython==7.0
SecretStorage==3.3.3
Sphinx==7.1.2; python_version == "3.8"
Sphinx==7.2.6; python_version >= "3.9"
Unidecode==1.3.8
WSGIProxy2==0.5.1
WebOb==1.8.7
WebTest==3.0.0
ZConfig==4.0
ZEO==6.0.0
ZODB==5.8.1
ZODB3==3.11.0
Zope==5.9
Zope2==4.0
ZopeUndo==6.0
alabaster==0.7.13
argcomplete==3.2.2
argh==0.31.2
async-generator==1.10
attrs==23.2.0
backports.cached-property==1.0.2
backports.zoneinfo==0.2.1; python_version == "3.8"
beautifulsoup4==4.12.2
bleach==6.1.0
borg.localrole==3.1.11
build==1.0.3
cachecontrol==0.14.0
cached-property==1.5.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
check-manifest==0.49
click==8.1.7
click-default-group==1.2.4
cmarkgfm==2024.1.14
collective.MockMailHost==2.0.0
collective.monkeypatcher==1.2.1
collective.recipe.omelette==1.1.0
collective.recipe.template==2.2
collective.recipe.vscode==0.1.9
collective.xmltestreport==2.0.2
collective.z3cform.datagridfield==3.0.2
colorama==0.4.6
commonmark==0.9.1
configparser==5.3.0
cryptography==42.0.2
cssselect==1.2.0
decorator==5.1.1
diazo==2.0.0
distro==1.9.0
docutils==0.18.1
exceptiongroup==1.2.0
fancycompleter==0.9.1
feedparser==6.0.11
filelock==3.13.1
five.customerize==3.0.0
five.intid==2.0.0
five.localsitemanager==4.0
furl==2.1.3
future==0.18.3
gitdb==4.0.11
grpcio-tools==1.59.0
gunicorn==21.2.0
h11==0.14.0
httplib2==0.22.0
i18ndude==6.1.0
icalendar==5.0.11
idna==3.4
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==5.13.0
incremental==22.10.0
jaraco.classes==3.3.1
jeepney==0.8.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keyring==24.3.0
lockfile==0.12.2
lxml==4.9.4
manuel==1.12.4
markdown-it-py==3.0.0
mdurl==0.1.2
mock==5.1.0
more-itertools==10.2.0
mr.developer==2.0.1
msgpack==1.0.7
multipart==0.2.4
mxdev==3.1.0
nh3==0.2.15
nt-svcutils==2.13.0
oauthlib==3.2.2
orderedmultidict==1.0.1
outcome==1.3.0post0
overrides==7.7.0
packaging==23.2
pdbpp==0.10.3
pep440==0.1.2
pep517==0.13.1
persistent==5.1
piexif==1.1.3
pip==24.0
pkginfo==1.9.6
pkgutil-resolve-name==1.3.10; python_version == "3.8"
plone.alterego==2.0.1
plone.api==2.1.0
plone.app.blocks==7.0.1
plone.app.caching==3.1.4
plone.app.content==4.1.2
plone.app.contentlisting==3.0.4
plone.app.contentmenu==3.0.3
plone.app.contentrules==5.0.3
plone.app.contenttypes==3.0.5
plone.app.customerize==2.0.1
plone.app.debugtoolbar==1.3.0
plone.app.dexterity==3.2.0
plone.app.discussion==4.0.4
plone.app.drafts==2.0.0
plone.app.event==5.1.1
plone.app.i18n==4.0.1
plone.app.intid==2.0.0
plone.app.iterate==5.0.5
plone.app.jquerytools==1.9.5
plone.app.layout==4.0.8
plone.app.linkintegrity==4.0.3
plone.app.locales==6.0.20
plone.app.lockingbehavior==2.0.0
plone.app.mosaic==3.1.5
plone.app.multilingual==7.0.3
plone.app.portlets==5.0.7
plone.app.querystring==2.1.1
plone.app.redirector==3.0.2
plone.app.registry==2.0.4
plone.app.relationfield==3.0.4
plone.app.robotframework==2.1.2
plone.app.standardtiles==3.1.2
plone.app.testing==7.0.2
plone.app.textfield==2.0.1
plone.app.theming==5.0.7
plone.app.tiles==4.0.1
plone.app.upgrade==3.1.3
plone.app.users==3.0.4
plone.app.uuid==2.2.3
plone.app.versioningbehavior==2.0.2
plone.app.viewletmanager==4.0.3
plone.app.vocabularies==5.0.5
plone.app.widgets==5.0.0
plone.app.workflow==5.0.3
plone.app.z3cform==4.3.0
plone.autoform==2.0.2
plone.autoinclude==1.0.1
plone.base==1.2.1
plone.batching==2.0.6
plone.behavior==2.0.1
plone.browserlayer==3.0.2
plone.cachepurging==3.0.2
plone.caching==2.0.1
plone.contentrules==3.0.1
plone.dexterity==3.0.5
plone.event==2.0.1
plone.folder==4.0.1
plone.formwidget.autocomplete==1.4.1
plone.formwidget.namedfile==3.0.3
plone.formwidget.recurrence==3.0.4
plone.i18n==5.0.2
plone.indexer==2.0.1
plone.intelligenttext==4.0.1
plone.jsonserializer==0.9.11
plone.keyring==4.0.1
plone.locking==3.0.1
plone.memoize==3.0.2
plone.namedfile==6.2.3
plone.outputfilters==5.0.4
plone.portlet.collection==4.0.3
plone.portlet.static==4.0.2
plone.portlets==3.0.1
plone.protect==5.0.1
plone.recipe.command==1.1
plone.recipe.zeoserver==3.0.1
plone.recipe.zope2instance==6.12.2
plone.registry==2.0.1
plone.releaser==2.2.1
plone.reload==3.0.2
plone.resource==3.0.1
plone.resourceeditor==4.0.1
plone.rest==4.1.3
plone.restapi==9.5.0
plone.rfc822==3.0.1
plone.scale==4.1.1
plone.schema==2.0.1
plone.schemaeditor==4.0.5
plone.session==4.0.4
plone.staticresources==2.1.12
plone.stringinterp==2.0.2
plone.subrequest==2.0.5
plone.supermodel==2.0.4
plone.testing==9.0.1
plone.theme==4.0.1
plone.tiles==2.3.1
plone.transformchain==3.0.1
plone.uuid==2.0.1
plone.versioncheck==1.8.1
plone.volto==4.3.0
plone.z3cform==2.0.3
plonetheme.barceloneta==3.1.8
progress==1.6
prompt-toolkit==2.0.10
py==1.11.0
pyOpenSSL==24.0.0
pycparser==2.21
pyparsing==3.1.1
pyproject-hooks==1.0.0
pyrepl==0.9.0
pyroma==4.2
pyrsistent==0.20.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-gettext==5.0
pytz==2023.3.post1
readme-renderer==42.0
referencing==0.33.0
repoze.xmliter==1.0b1
requests==2.31.0
requests-toolbelt==1.0.0
responses==0.24.1
rfc3986==2.0.0
rich==13.7.0
robotframework==6.0.2
robotframework-assertion-engine==2.0.0
robotframework-browser==17.5.2
robotframework-debuglibrary==2.3.0
robotframework-lsp==1.10.1
robotframework-pythonlibcore==4.2.0
robotframework-selenium2library==3.0.0
robotframework-selenium2screenshots==0.8.1
robotframework-seleniumlibrary==6.1.3
robotframework-seleniumtestability==2.1.0
robotsuite==2.3.2
roman==4.1
rpds-py==0.13.2
selenium==4.9.1
setuptools==69.0.3
sgmllib3k==1.0.0
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.4; python_version == "3.8"
sphinxcontrib-applehelp==1.0.7; python_version >= "3.9"
sphinxcontrib-devhelp==1.0.2; python_version == "3.8"
sphinxcontrib-devhelp==1.0.5; python_version >= "3.9"
sphinxcontrib-htmlhelp==2.0.1; python_version == "3.8"
sphinxcontrib-htmlhelp==2.0.4; python_version >= "3.9"
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3; python_version == "3.8"
sphinxcontrib-qthelp==1.0.6; python_version >= "3.9"
sphinxcontrib-serializinghtml==1.1.5; python_version == "3.8"
sphinxcontrib-serializinghtml==1.1.9; python_version >= "3.9"
stdlib-list==0.10.0
tempstorage==6.0
toml==0.10.2
tomli==2.0.1
towncrier==23.11.0
transaction==4.0
trio==0.24.0
trio-websocket==0.11.1
trove-classifiers==2024.1.31
twine==4.0.2
types-PyYAML==6.0.12.10
types-toml==0.10.8.5
typing-extensions==4.9.0
urllib3==2.1.0
urllib3-secure-extra==0.1.0
wadllib==1.3.6
waitress==2.1.2
watchdog==3.0.0
wcwidth==0.2.13
webencodings==0.5.1
webresource==1.2
wheel==0.42.0
wmctrl==0.5
wrapt==1.16.0
wsproto==1.2.0
z3c.caching==3.0
z3c.checkversions==2.1
z3c.dependencychecker==2.14.3
z3c.form==4.3
z3c.formwidget.query==2.0.0
z3c.jbot==2.0
z3c.objpath==2.0
z3c.pt==4.0
z3c.relationfield==1.0
z3c.unconfigure==2.0
z3c.zcmlhook==2.0
zExceptions==5.0
zc.buildout==3.0.1
zc.lockfile==3.0.post1
zc.recipe.egg==2.0.7
zc.recipe.testrunner==3.0
zc.relation==2.0
zdaemon==5.0
zest.pocompile==2.0.0
zest.releaser==9.1.3
zestreleaser.towncrier==1.3.0
zipp==3.17.0
zodbpickle==3.1
zodbupdate==2.0
zodbverify==1.2.0
zope.annotation==5.0
zope.app.locales==5.0
zope.browser==3.0
zope.browsermenu==5.0
zope.browserpage==5.0
zope.browserresource==5.1
zope.cachedescriptors==5.0
zope.component==6.0
zope.componentvocabulary==2.3.0
zope.configuration==5.0
zope.container==5.2
zope.contentprovider==5.0
zope.contenttype==5.1
zope.copy==4.3
zope.datetime==5.0.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.dottedname==6.0
zope.event==5.0
zope.exceptions==5.0.1
zope.filerepresentation==6.0
zope.globalrequest==2.0
zope.hookable==6.0
zope.i18n==5.1
zope.i18nmessageid==6.1.0
zope.interface==6.1
zope.intid==5.0
zope.keyreference==6.0
zope.lifecycleevent==5.0
zope.location==5.0
zope.mkzeoinstance==5.1.1
zope.pagetemplate==5.0
zope.processlifetime==3.0
zope.proxy==5.1
zope.ptresource==5.0
zope.publisher==7.0
zope.ramcache==3.0
zope.schema==7.0.1
zope.security==6.2
zope.sendmail==6.1
zope.sequencesort==5.0
zope.site==5.0
zope.size==5.0
zope.structuredtext==5.0
zope.tal==5.0.1
zope.tales==6.0
zope.testbrowser==6.0
zope.testing==5.0.1
zope.testrunner==6.2
zope.traversing==5.0
zope.viewlet==5.0
