# Point to the relevant directories one level up. Otherwise, we get a new set of each here in this folder.

[buildout]
extends = ../buildout.cfg
develop-eggs-directory = ../develop-eggs
eggs-directory = ../eggs
bin-directory = ../bin
parts-directory = ../parts
sources-dir = ../src
download-directory = ../download
download-cache = ../download

[instance]
var = ${buildout:directory}/../var
