/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/.coverage
/htmlcov/
/buildout.cfg
/tags
/nixenv

/bin/
/develop-eggs/
/docs/_build/
/eggs/
/lib/
/include/
/parts/
/src/
/testreports/
/var/
