[buildout]
extends =
    latest.cfg
#    widgets.cfg
    toolbar.cfg

#[instance]
#eggs +=
#    plone.app.robotframework[ride,speak]
#    Products.PrintingMailHost
#    plone.reload
#    iw.debug

[versions]
collective.recipe.sphinxbuilder = 0.7.3
setuptools = 0.9.7
