name: Basic ecosystem tests

on: push

jobs:
  build:
    strategy:
      matrix:
        python-version:
        - "3.10"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: "Install Python dependencies (pip)"
      uses: "py-actions/py-dependency-install@v4"
      with:
        path: "requirements.txt"
    - name: Cache eggs
      uses: actions/cache@v3
      with:
        path: |
          eggs
        key: eggs-${{ matrix.python-version }}-${{ runner.os }}-${{ hashFiles('versions*.cfg') }}
        restore-keys: |
          eggs-${{ matrix.python-version }}-${{ runner.os }}-
          eggs-${{ matrix.python-version }}-
    - name: Run buildout
      run: |
        buildout -c ecosystem.cfg buildout:git-clone-depth=1
    - name: Quickly run unit tests without any layers
      run: |
        bin/test -u
