name: Running Buildout

on: push

jobs:
  build:
    strategy:
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        os:
        - ubuntu-latest
        - windows-latest
        - macos-12
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: "Install Python dependencies (pip)"
      uses: "py-actions/py-dependency-install@v4"
      with:
        path: "requirements.txt"
    - name: Cache eggs
      uses: actions/cache@v4
      with:
        path: |
          eggs
        key: eggs-${{ matrix.python-version }}-${{ runner.os }}-${{ hashFiles('versions*.cfg') }}
        restore-keys: |
          eggs-${{ matrix.python-version }}-${{ runner.os }}-
    - name: Run buildout if Mac
      if: startsWith(matrix.os, 'macos')
      run: |
        # MacOS on gh-actions cannot install MarkupSafe on Py 3.10, see https://github.com/plone/buildout.coredev/issues/799
        # Also problems with charset-normalizer on all Python versions now it seems, see https://github.com/plone/buildout.coredev/issues/922
        export _PYTHON_HOST_PLATFORM="macosx-11-x86_64"
        buildout buildout:git-clone-depth=1
    - name: Run buildout
      if: (!startsWith(matrix.os, 'macos'))
      run: |
        buildout buildout:git-clone-depth=1
