name: Running Buildout

on: push

jobs:
  build:
    strategy:
      matrix:
        python-version:
        - "3.7"
        - "3.8"
        - "3.9"
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: "Install Python dependencies (pip)"
      uses: "py-actions/py-dependency-install@v3"
      with:
        path: "requirements.txt"
    - name: Cache eggs
      uses: actions/cache@v3
      with:
        path: |
          eggs
        key: eggs-${{ hashFiles('**/*.cfg') }}
        restore-keys: eggs-
    - name: Run buildout
      run: |
        buildout buildout:git-clone-depth=1
